################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StoryManagement
/StoryManagement.Model/bin/Debug/net8.0
/StoryManagement.Model/obj
/Admin/bin/Debug/net8.0
/Admin/obj
/Admin/Properties
/Admin/appsettings.Development.json
/Admin/appsettings.json
/Admin/Program.cs
/Admin/Website.csproj
/Admin/Website.cspro.user

/.vs/ProjectEvaluation
/Website/obj
/Admin/wwwroot/lib
/Website/bin/Debug/net8.0
/Website/wwwroot/lib
/Website/appsettings.Development.json
/Website/appsettings.json
/Website/Program.cs
/Website/Website.csproj
/Website/Website.cspro.user
/StoryManagement.sln
