@using StoryManagement.Model.Entity
@using StoryManagement.Model.Enum
@model Reviews

<div class="container">
    <form asp-action="CreateOrUpdate" enctype="multipart/form-data" id="form" method="post">
        <input asp-for="@Model.IdStory" hidden />
        <div class="col">
            <label>Review</label>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Review, new { @class = "form-control", id = "txtReview" })
                </div>
            </div>
        </div>
        <div class="col">
            <label>Giới thiệu</label>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Opening, new { @class = "form-control", id = "txtOpening" })
                </div>
            </div>
        </div>
        <div class="mt-4">
            <button class="btn btn-success" style="width:100px;" type="submit" id="Save">Lưu</button>
            <a href="/Review/index?idStory=@Model.IdStory" class="btn w-md btn-outline-info waves-effect waves-light">Quay lại</a>
        </div>
    </form>
</div>
@section Scripts {
    <script type="text/javascript">
        CKEDITOR.replace('txtReview');
        CKEDITOR.replace('txtOpening');
    </script>
}