@using StoryManagement.Model.Entity
@using StoryManagement.Model.Enum


@{
    ViewData["Title"] = "Danh sách tác giả";
}
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Tác giả</div>
    <div class="ps-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="/"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách tác giả</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btnCreate">Thêm mới</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-3 mb-3">
                        <input type="text" class="form-control" id="txtSearch" placeholder="Tìm kiếm tác giả" />
                    </div>
                    <div class="col-lg-1">
                        <button type="button" id="btnSearch" class="btn btn-primary btn-xs mr-5"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="col-lg-12 table-responsive" style="height: 480px;">
                    <table class="table table-bordered" id="tblAuthor"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCreateOrEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelAction"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmAuthor" method="post">
                    <input type="text" hidden id="txtIdModal" name="Id" />
                    <div class="form-group mb-3">
                        <label class="form-label required">Tên thật</label>
                        <input type="text" class="form-control" id="txtName" name="Name" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Bút danh</label>
                        <input type="text" class="form-control" name="NumberChapter" id="txtPseudonym" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmit">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
