@using StoryManagement.Model.Entity
@model Story

@{
    ViewData["Title"] = "Thông tin truyện";
    List<Authors> authors = (List<Authors>)ViewBag.listAuthors;
    Reviews reviews = (Reviews)ViewBag.review;
}
<style>
.belong-cell {
text-align: center;
font-weight: bold;
}

.pagination {
margin-top: 10px;
text-align: center;
}

.pagination button {
margin: 0 5px;
padding: 5px 10px;
}
</style>
<div class="inner">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-3 col-lg-3">
                <div class="col-inner">
                    <div class="product-gallery-default has-hover position-relative">
                        <img style="max-width: 100%;"
                            loading="lazy"
                            referrerpolicy="no-referrer"
                            src="https://bookcover.yuewen.com/qdbimg/349573/1040874138/300" />
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                <div class="col-inner">
                    <div class="product-title-container">
                        <h3 class="product-title product_title entry-title">@Model.Name</h3>
                        <div class="is-divider small"></div>
                        <a href="/Story/Chapter?idStory=@Model.Id&idChapter=0" class="btn btn-primary">Đọc truyện</a>
                    </div>
                </div>
            </div>
            <div class="col-1 col-md-1 col-lg-1"></div>
        </div>
        <@* div class="row mt-5">
            <div class="col-12 col-md-12 col-lg-12 col-inner">
                <ul class="tags">
                    @if(tags != null && tags.Count > 0)
                    {
                        foreach(Tags tg in tags)
                        {
                            <li><a href="#" class="tag">@tg.Name</a></li>                            
                        }
                    }
                </ul>
            </div>
        </div> *@
        <div class="row mt-5">
            <div class="col-9 col-md-9 col-lg-9 col-inner">
                <div class="navtabs">
                    <div class="underline"></div>
                    <div class="navtab active border border-1" data-target="review">Giới thiệu</div>
                    <div class="navtab border border-1" data-target="listChapter">Chương</div>
                    <div class="navtab border border-1" data-target="rating">Đánh giá</div>
                    <div class="navtab border border-1" data-target="series">Series</div>
                </div>
                <div class="tabcontent border border-1">
                    <div id="review" class="content active">
                        @if (reviews != null) { Html.Raw(reviews.Opening); }
                    </div>
                    <div id="listChapter" class="content">
                        <input type="hidden" id="txtIdStory" value="@Model.Id"/>
                        <!-- <table id="tblStoryListChapter"></table> -->
                        <div id="storyListChapter"></div>
                        <!-- <div class="pagination"></div> -->
                    </div>
                    <div id="rating" class="content">
                        @if (reviews != null) { Html.Raw(reviews.Review); }
                    </div>
                    <div id="series" class="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="backToTop" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px; display: none;">
    <i class="fas fa-arrow-up"></i>
</button>
@section Scripts {
    <script>
        // Hiển thị/ẩn nút dựa trên vị trí cuộn
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#backToTop').fadeIn();
            } else {
                $('#backToTop').fadeOut();
            }
        });

        // Cuộn về đầu trang khi nhấn vào nút
        $('#backToTop').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 'slow');
            return false;
        });
    </script>
}