USE [Story_Management]
GO
/****** Object:  UserDefinedFunction [dbo].[GetChaptersSave]    Script Date: 09/03/2026 16:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetChaptersSave] (@id int)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX) = N''
    DECLARE @Data TABLE (
			Id int,
			Name nvarchar(1000),
            NumberChapters smallint
		);
    insert into @Data (Id, Name)
    Select Id, Name from Part_Chapter where IdStory = 0  or IdStory = @id

    update @Data
    set NumberChapters = (select count(Id) from Chapters where StoryId = @id and Belong = d.Id)
    from @Data d

    SELECT @result =
        STRING_AGG(
            Name + N' (' + CAST(NumberChapters AS NVARCHAR) + N' chương)',
            CHAR(13) + CHAR(10)
        )
    FROM @Data;

    RETURN @result
END
GO
/****** Object:  Table [dbo].[Story]    Script Date: 09/03/2026 16:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](3000) NOT NULL,
	[NumberChapter] [nvarchar](4000) NULL,
	[ReadTo] [nvarchar](4000) NULL,
	[TagsName] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[LinkMore] [nvarchar](4000) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Slug] [nvarchar](500) NULL,
	[Source] [nchar](50) NULL,
	[IsCollection] [bit] NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story_Search]    Script Date: 09/03/2026 16:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_Search](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Request] [nvarchar](4000) NULL,
	[Result] [nvarchar](max) NULL,
	[SearchBy] [nvarchar](10) NULL,
 CONSTRAINT [PK_Story_Search] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CRUD_Search]    Script Date: 09/03/2026 16:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_Search]
	@type nvarchar(10),
	@content nvarchar(max),
	@totalRow int output
as
begin
	SET NOCOUNT ON;
	set @totalRow = 0
	if @type = 'CreateOrUpdate'
	begin
		DECLARE @Data TABLE (
			Id int,
			Request nvarchar(4000),
			Result nvarchar(max),
			SearchBy nvarchar(10)
		);
		INSERT INTO @Data (Id, Request, Result, SearchBy)
		SELECT 
			JSON_VALUE(Value, '$.Id'),
			NULLIF(JSON_VALUE(Value, '$.Request'), ''),
			NULLIF(JSON_VALUE(Value, '$.Result'), ''),
			JSON_VALUE(Value, '$.SearchBy')
		FROM OPENJSON(@content);
		insert into Story_Search (Request, Result, SearchBy)
		select Request, Result, SearchBy
		from @Data where Id = 0

		update Story_Search
		set Request = d.Request, Result = d.Result, SearchBy = d.SearchBy
		from Story_Search p join @Data d on p.Id = d.Id WHERE d.Id > 0;
	end
	else if @type = 'Delete'
	begin
		DECLARE @idList TABLE (
			Id int
		);
		INSERT INTO @idList (Id)
		SELECT 
			JSON_VALUE(Value, '$.Id')
		FROM OPENJSON(@content);

		delete Story_Search
		where Id in (select Id from @idList)
	end
	else if @type = 'Read'
	begin
		DECLARE @sear TABLE (
			Offset int,
			Limit int,
			Search nvarchar(500)
		);
		INSERT INTO @sear (Offset, Limit, Search)
		SELECT 
			NULLIF(JSON_VALUE(Value, '$.Offset'), 0),
			NULLIF(JSON_VALUE(Value, '$.Limit'), 50),
			NULLIF(JSON_VALUE(Value, '$.Search'), '')
		FROM OPENJSON(@content);

		declare @searchString nvarchar(510) = '%' + (select top 1 Search from @sear) + '%'
		declare @offset int = (select top 1 Offset from @sear)
		declare @limit int = (select top 1 Limit from @sear)

		set @totalRow = (select COUNT(Id) from Story_Search where Request like @searchString or Result like @searchString)

		select Id, Request from Story_Search 
		where Request like @searchString or Result like @searchString
		ORDER BY Request
		OFFSET @offset ROWS
		FETCH NEXT @limit ROWS ONLY;
	end
	else if @type = 'Edit'
	begin
		INSERT INTO @idList (Id)
		SELECT 
			JSON_VALUE(Value, '$.Id')
		FROM OPENJSON(@content);
		select top 1 * 
		from Story_Search
		where Id = (select top 1 Id from @sear)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_Chapter]    Script Date: 09/03/2026 16:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Chapter]
	@id bigint
as
begin
	set nocount on;
	delete Chapters where Id = @id

	select ImgName
	from Chapter_Images
	where IdChapter = @id
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_ChapterImages]    Script Date: 09/03/2026 16:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Delete_ChapterImages]
	@idStory int,
	@images nvarchar(max)
as
begin
	DECLARE @TblImages TABLE (
		ImageName nvarchar(500)
	)

	INSERT INTO @TblImages(ImageName)
	SELECT value
	FROM OPENJSON(@images)

	delete Chapter_Images
	where IdStory = @idStory 
		and ImgName in (select ImageName from @TblImages)
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Story3]    Script Date: 09/03/2026 16:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Story3]
    @pageIndex int,
    @pageSize int,
    @search nvarchar(255),
    @tags nvarchar(4000),
    @subTags nvarchar(4000),
    @authors nvarchar(4000),
    @stt nchar(10),
    @totalRow int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TagIds TABLE (Id int, GroupId int, MultiSelect bit);
    DECLARE @SubTagIds TABLE (Id int);
    DECLARE @AuthorId TABLE (Id int, AuthorId int);

    ------------------------------------------------
    INSERT INTO @TagIds (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@tags, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    INSERT INTO @SubTagIds (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@subTags, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    INSERT INTO @AuthorId (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@authors, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    ------------------------------------------------
    UPDATE t
    SET GroupId = r.IdFrom
    FROM @TagIds t
    INNER JOIN Tbl_Relationship r 
        ON t.Id = r.IdConnect 
       AND r.TypeConnect = 'Group_Tag';

    UPDATE @TagIds
    SET MultiSelect = g.MultiSelect
    FROM GroupTag g
    JOIN @TagIds t ON t.GroupId = g.Id;

    INSERT INTO @TagIds (Id)
    SELECT DISTINCT r.IdConnect
    FROM Tbl_Relationship r
    INNER JOIN @TagIds t ON t.GroupId = r.IdFrom
    WHERE t.MultiSelect = 0
      AND NOT EXISTS (SELECT 1 FROM @TagIds x WHERE x.Id = r.IdConnect);

    ------------------------------------------------
    UPDATE a
    SET AuthorId = r.AuthorId
    FROM @AuthorId a
    INNER JOIN Pseu r ON r.Id = a.Id;

    INSERT INTO @AuthorId (Id, AuthorId)
    SELECT DISTINCT p.Id, p.AuthorId
    FROM Pseu p
    WHERE p.AuthorId IN (SELECT DISTINCT AuthorId FROM @AuthorId WHERE AuthorId IS NOT NULL)
      AND NOT EXISTS (SELECT 1 FROM @AuthorId a WHERE a.Id = p.Id);

    ------------------------------------------------
    DECLARE @searchString nvarchar(300) = '%' + ISNULL(@search, '') + '%';

    ------------------------------------------------
    SELECT @totalRow = COUNT(DISTINCT s.Id)
    FROM Story s
    WHERE (@search IS NULL OR s.Name LIKE @searchString)
      AND (@stt = 'All' OR s.IsRead = CASE WHEN @stt = 'Read' THEN 1 ELSE 0 END)
      AND (
            NOT EXISTS (SELECT 1 FROM @SubTagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relSub
                INNER JOIN @SubTagIds st ON relSub.IdConnect = st.Id
                WHERE relSub.TypeConnect = 'Story_SubTag'
                  AND relSub.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @TagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relTag
                INNER JOIN @TagIds st ON relTag.IdConnect = st.Id
                WHERE relTag.TypeConnect = 'Story_Tag'
                  AND relTag.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @AuthorId)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relAu
                INNER JOIN @AuthorId st ON relAu.IdConnect = st.Id
                WHERE relAu.TypeConnect = 'Story_Author'
                  AND relAu.IdFrom = s.Id
            )
          );

    ------------------------------------------------
    SELECT s.Id, s.Name, s.NumberChapter, s.IsRead, s.Source, s.TagsName, dbo.GetChaptersSave(s.Id) as 'ChapterUploaded'
    FROM Story s
    WHERE (@search IS NULL OR s.Name LIKE @searchString)
      AND (@stt = 'All' OR s.IsRead = CASE WHEN @stt = 'Read' THEN 1 ELSE 0 END)
      AND (
            NOT EXISTS (SELECT 1 FROM @SubTagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relSub
                INNER JOIN @SubTagIds st ON relSub.IdConnect = st.Id
                WHERE relSub.TypeConnect = 'Story_SubTag'
                  AND relSub.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @TagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relTag
                INNER JOIN @TagIds st ON relTag.IdConnect = st.Id
                WHERE relTag.TypeConnect = 'Story_Tag'
                  AND relTag.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @AuthorId)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relAu
                INNER JOIN @AuthorId st ON relAu.IdConnect = st.Id
                WHERE relAu.TypeConnect = 'Story_Author'
                  AND relAu.IdFrom = s.Id
            )
          )
    GROUP BY s.Id, s.Name, s.NumberChapter, s.IsRead, s.Source, s.TagsName
    ORDER BY s.Name
    OFFSET @pageIndex ROWS
    FETCH NEXT @pageSize ROWS ONLY;
END
GO
