USE [Story_Management]
GO
/****** Object:  UserDefinedFunction [dbo].[Get_StoryIdByAuthorAndTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Get_StoryIdByAuthorAndTag] 
(
    @AuthorIds NVARCHAR(MAX),
    @TagIds NVARCHAR(MAX)
)
RETURNS @result TABLE
(
    Id INT
)
AS
BEGIN
	-- Nếu cả AuthorIds và TagIds đều NULL
	IF @AuthorIds IS NULL AND @TagIds IS NULL
	BEGIN
		INSERT INTO @result (Id)
		SELECT DISTINCT Id
		FROM Story;
	END
	ELSE
	BEGIN
		-- Trường hợp chỉ có AuthorIds
		IF @AuthorIds IS NOT NULL
		BEGIN
			INSERT INTO @result (Id)
			SELECT DISTINCT s.Id
			FROM Story s
			CROSS APPLY STRING_SPLIT(@AuthorIds, ',') AS a
			WHERE ',' + CAST(s.AuthorId AS NVARCHAR(MAX)) + ',' LIKE '%,' + a.value + ',%';
		END

		-- Trường hợp chỉ có TagIds
		IF @TagIds IS NOT NULL
		BEGIN
			INSERT INTO @result (Id)
			SELECT DISTINCT s.Id
			FROM Story s
			CROSS APPLY STRING_SPLIT(@TagIds, ',') AS t
			WHERE ',' + CAST(s.TagId AS NVARCHAR(MAX)) + ',' LIKE '%,' + t.value + ',%';
		END
	END

	RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetChaptersSave]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetChaptersSave] (@id int)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX) = N''
    DECLARE @Data TABLE (
			Id int,
			Name nvarchar(1000),
            NumberChapters smallint
		);
    insert into @Data (Id, Name)
    Select Id, Name from Part_Chapter where IdStory = 0  or IdStory = @id

    update @Data
    set NumberChapters = (select count(Id) from Chapters where StoryId = @id and Belong = d.Id)
    from @Data d

    SELECT @result =
        STRING_AGG(
            Name + N' (' + CAST(NumberChapters AS NVARCHAR) + N' chương)',
            CHAR(13) + CHAR(10)
        )
    FROM @Data;

    RETURN @result
END
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveVietnameseAccents]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RemoveVietnameseAccents] (@str NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX)
    SET @result = @str

    -- Thay thế các ký tự có dấu thành không dấu
    SET @result = REPLACE(@result, N'á', 'a')
    SET @result = REPLACE(@result, N'à', 'a')
    SET @result = REPLACE(@result, N'ả', 'a')
    SET @result = REPLACE(@result, N'ã', 'a')
    SET @result = REPLACE(@result, N'ạ', 'a')
    SET @result = REPLACE(@result, N'ă', 'a')
    SET @result = REPLACE(@result, N'ắ', 'a')
    SET @result = REPLACE(@result, N'ằ', 'a')
    SET @result = REPLACE(@result, N'ẳ', 'a')
    SET @result = REPLACE(@result, N'ẵ', 'a')
    SET @result = REPLACE(@result, N'ặ', 'a')
    SET @result = REPLACE(@result, N'â', 'a')
    SET @result = REPLACE(@result, N'ấ', 'a')
    SET @result = REPLACE(@result, N'ầ', 'a')
    SET @result = REPLACE(@result, N'ẩ', 'a')
    SET @result = REPLACE(@result, N'ẫ', 'a')
    SET @result = REPLACE(@result, N'ậ', 'a')
    SET @result = REPLACE(@result, N'é', 'e')
    SET @result = REPLACE(@result, N'è', 'e')
    SET @result = REPLACE(@result, N'ẻ', 'e')
    SET @result = REPLACE(@result, N'ẽ', 'e')
    SET @result = REPLACE(@result, N'ẹ', 'e')
    SET @result = REPLACE(@result, N'ê', 'e')
    SET @result = REPLACE(@result, N'ế', 'e')
    SET @result = REPLACE(@result, N'ề', 'e')
    SET @result = REPLACE(@result, N'ể', 'e')
    SET @result = REPLACE(@result, N'ễ', 'e')
    SET @result = REPLACE(@result, N'ệ', 'e')
    SET @result = REPLACE(@result, N'í', 'i')
    SET @result = REPLACE(@result, N'ì', 'i')
    SET @result = REPLACE(@result, N'ỉ', 'i')
    SET @result = REPLACE(@result, N'ĩ', 'i')
    SET @result = REPLACE(@result, N'ị', 'i')
    SET @result = REPLACE(@result, N'ó', 'o')
    SET @result = REPLACE(@result, N'ò', 'o')
    SET @result = REPLACE(@result, N'ỏ', 'o')
    SET @result = REPLACE(@result, N'õ', 'o')
    SET @result = REPLACE(@result, N'ọ', 'o')
    SET @result = REPLACE(@result, N'ô', 'o')
    SET @result = REPLACE(@result, N'ố', 'o')
    SET @result = REPLACE(@result, N'ồ', 'o')
    SET @result = REPLACE(@result, N'ổ', 'o')
    SET @result = REPLACE(@result, N'ỗ', 'o')
    SET @result = REPLACE(@result, N'ộ', 'o')
    SET @result = REPLACE(@result, N'ơ', 'o')
    SET @result = REPLACE(@result, N'ớ', 'o')
    SET @result = REPLACE(@result, N'ờ', 'o')
    SET @result = REPLACE(@result, N'ở', 'o')
    SET @result = REPLACE(@result, N'ỡ', 'o')
    SET @result = REPLACE(@result, N'ợ', 'o')
    SET @result = REPLACE(@result, N'ú', 'u')
    SET @result = REPLACE(@result, N'ù', 'u')
    SET @result = REPLACE(@result, N'ủ', 'u')
    SET @result = REPLACE(@result, N'ũ', 'u')
    SET @result = REPLACE(@result, N'ụ', 'u')
    SET @result = REPLACE(@result, N'ư', 'u')
    SET @result = REPLACE(@result, N'ứ', 'u')
    SET @result = REPLACE(@result, N'ừ', 'u')
    SET @result = REPLACE(@result, N'ử', 'u')
    SET @result = REPLACE(@result, N'ữ', 'u')
    SET @result = REPLACE(@result, N'ự', 'u')
    SET @result = REPLACE(@result, N'ý', 'y')
    SET @result = REPLACE(@result, N'ỳ', 'y')
    SET @result = REPLACE(@result, N'ỷ', 'y')
    SET @result = REPLACE(@result, N'ỹ', 'y')
    SET @result = REPLACE(@result, N'ỵ', 'y')
    SET @result = REPLACE(@result, N'đ', 'd')

	SET @result = REPLACE(@result, N'A', 'a')
    SET @result = REPLACE(@result, N'Á', 'a')
    SET @result = REPLACE(@result, N'À', 'a')
    SET @result = REPLACE(@result, N'Ả', 'a')
    SET @result = REPLACE(@result, N'Ã', 'a')
    SET @result = REPLACE(@result, N'Ạ', 'a')
    SET @result = REPLACE(@result, N'Ă', 'a')
    SET @result = REPLACE(@result, N'Ắ', 'a')
    SET @result = REPLACE(@result, N'Ằ', 'a')
    SET @result = REPLACE(@result, N'Ẳ', 'a')
    SET @result = REPLACE(@result, N'Ẵ', 'a')
    SET @result = REPLACE(@result, N'Ặ', 'a')
    SET @result = REPLACE(@result, N'Â', 'a')
    SET @result = REPLACE(@result, N'Ấ', 'a')
    SET @result = REPLACE(@result, N'Ầ', 'a')
    SET @result = REPLACE(@result, N'Ẩ', 'a')
    SET @result = REPLACE(@result, N'Ẫ', 'a')
    SET @result = REPLACE(@result, N'Ậ', 'a')
	SET @result = REPLACE(@result, N'E', 'e')
    SET @result = REPLACE(@result, N'É', 'e')
    SET @result = REPLACE(@result, N'È', 'e')
    SET @result = REPLACE(@result, N'Ẻ', 'e')
    SET @result = REPLACE(@result, N'Ẽ', 'e')
    SET @result = REPLACE(@result, N'Ẹ', 'e')
    SET @result = REPLACE(@result, N'Ê', 'e')
    SET @result = REPLACE(@result, N'Ế', 'e')
    SET @result = REPLACE(@result, N'Ề', 'e')
    SET @result = REPLACE(@result, N'Ể', 'e')
    SET @result = REPLACE(@result, N'Ễ', 'e')
    SET @result = REPLACE(@result, N'Ệ', 'e')
	SET @result = REPLACE(@result, N'I', 'i')
    SET @result = REPLACE(@result, N'Í', 'i')
    SET @result = REPLACE(@result, N'Ì', 'i')
    SET @result = REPLACE(@result, N'Ỉ', 'i')
    SET @result = REPLACE(@result, N'Ĩ', 'i')
    SET @result = REPLACE(@result, N'Ị', 'i')
	SET @result = REPLACE(@result, N'O', 'o')
    SET @result = REPLACE(@result, N'Ó', 'o')
    SET @result = REPLACE(@result, N'Ò', 'o')
    SET @result = REPLACE(@result, N'Ỏ', 'o')
    SET @result = REPLACE(@result, N'Õ', 'o')
    SET @result = REPLACE(@result, N'Ọ', 'o')
    SET @result = REPLACE(@result, N'Ô', 'o')
    SET @result = REPLACE(@result, N'Ố', 'o')
    SET @result = REPLACE(@result, N'Ồ', 'o')
    SET @result = REPLACE(@result, N'Ổ', 'o')
    SET @result = REPLACE(@result, N'Ỗ', 'o')
    SET @result = REPLACE(@result, N'Ộ', 'o')
	SET @result = REPLACE(@result, N'Ơ', 'o')
    SET @result = REPLACE(@result, N'Ớ', 'o')
    SET @result = REPLACE(@result, N'Ờ', 'o')
    SET @result = REPLACE(@result, N'Ở', 'o')
    SET @result = REPLACE(@result, N'Ỡ', 'o')
    SET @result = REPLACE(@result, N'Ợ', 'o')
	SET @result = REPLACE(@result, N'U', 'u')
    SET @result = REPLACE(@result, N'Ú', 'u')
    SET @result = REPLACE(@result, N'Ù', 'u')
    SET @result = REPLACE(@result, N'Ủ', 'u')
    SET @result = REPLACE(@result, N'Ũ', 'u')
    SET @result = REPLACE(@result, N'Ụ', 'u')
    SET @result = REPLACE(@result, N'Ư', 'u')
    SET @result = REPLACE(@result, N'Ứ', 'u')
    SET @result = REPLACE(@result, N'Ừ', 'u')
    SET @result = REPLACE(@result, N'Ử', 'u')
    SET @result = REPLACE(@result, N'Ữ', 'u')
    SET @result = REPLACE(@result, N'Ự', 'u')
	SET @result = REPLACE(@result, N'Y', 'y')
    SET @result = REPLACE(@result, N'Ý', 'y')
    SET @result = REPLACE(@result, N'Ỳ', 'y')
    SET @result = REPLACE(@result, N'Ỷ', 'y')
    SET @result = REPLACE(@result, N'Ỹ', 'y')
    SET @result = REPLACE(@result, N'Ỵ', 'y')	
    SET @result = REPLACE(@result, N'D', 'd')
    SET @result = REPLACE(@result, N'Đ', 'd')
	RETURN @result
END
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveVietnameseAccents2]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[RemoveVietnameseAccents2] (@str NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX)
    SET @result = lower(@str)

    -- Thay thế các ký tự có dấu thành không dấu
    SET @result = REPLACE(@result, N'á', 'a')
    SET @result = REPLACE(@result, N'à', 'a')
    SET @result = REPLACE(@result, N'ả', 'a')
    SET @result = REPLACE(@result, N'ã', 'a')
    SET @result = REPLACE(@result, N'ạ', 'a')
    SET @result = REPLACE(@result, N'ă', 'a')
    SET @result = REPLACE(@result, N'ắ', 'a')
    SET @result = REPLACE(@result, N'ằ', 'a')
    SET @result = REPLACE(@result, N'ẳ', 'a')
    SET @result = REPLACE(@result, N'ẵ', 'a')
    SET @result = REPLACE(@result, N'ặ', 'a')
    SET @result = REPLACE(@result, N'â', 'a')
    SET @result = REPLACE(@result, N'ấ', 'a')
    SET @result = REPLACE(@result, N'ầ', 'a')
    SET @result = REPLACE(@result, N'ẩ', 'a')
    SET @result = REPLACE(@result, N'ẫ', 'a')
    SET @result = REPLACE(@result, N'ậ', 'a')
    SET @result = REPLACE(@result, N'é', 'e')
    SET @result = REPLACE(@result, N'è', 'e')
    SET @result = REPLACE(@result, N'ẻ', 'e')
    SET @result = REPLACE(@result, N'ẽ', 'e')
    SET @result = REPLACE(@result, N'ẹ', 'e')
    SET @result = REPLACE(@result, N'ê', 'e')
    SET @result = REPLACE(@result, N'ế', 'e')
    SET @result = REPLACE(@result, N'ề', 'e')
    SET @result = REPLACE(@result, N'ể', 'e')
    SET @result = REPLACE(@result, N'ễ', 'e')
    SET @result = REPLACE(@result, N'ệ', 'e')
    SET @result = REPLACE(@result, N'í', 'i')
    SET @result = REPLACE(@result, N'ì', 'i')
    SET @result = REPLACE(@result, N'ỉ', 'i')
    SET @result = REPLACE(@result, N'ĩ', 'i')
    SET @result = REPLACE(@result, N'ị', 'i')
    SET @result = REPLACE(@result, N'ó', 'o')
    SET @result = REPLACE(@result, N'ò', 'o')
    SET @result = REPLACE(@result, N'ỏ', 'o')
    SET @result = REPLACE(@result, N'õ', 'o')
    SET @result = REPLACE(@result, N'ọ', 'o')
    SET @result = REPLACE(@result, N'ô', 'o')
    SET @result = REPLACE(@result, N'ố', 'o')
    SET @result = REPLACE(@result, N'ồ', 'o')
    SET @result = REPLACE(@result, N'ổ', 'o')
    SET @result = REPLACE(@result, N'ỗ', 'o')
    SET @result = REPLACE(@result, N'ộ', 'o')
    SET @result = REPLACE(@result, N'ơ', 'o')
    SET @result = REPLACE(@result, N'ớ', 'o')
    SET @result = REPLACE(@result, N'ờ', 'o')
    SET @result = REPLACE(@result, N'ở', 'o')
    SET @result = REPLACE(@result, N'ỡ', 'o')
    SET @result = REPLACE(@result, N'ợ', 'o')
    SET @result = REPLACE(@result, N'ú', 'u')
    SET @result = REPLACE(@result, N'ù', 'u')
    SET @result = REPLACE(@result, N'ủ', 'u')
    SET @result = REPLACE(@result, N'ũ', 'u')
    SET @result = REPLACE(@result, N'ụ', 'u')
    SET @result = REPLACE(@result, N'ư', 'u')
    SET @result = REPLACE(@result, N'ứ', 'u')
    SET @result = REPLACE(@result, N'ừ', 'u')
    SET @result = REPLACE(@result, N'ử', 'u')
    SET @result = REPLACE(@result, N'ữ', 'u')
    SET @result = REPLACE(@result, N'ự', 'u')
    SET @result = REPLACE(@result, N'ý', 'y')
    SET @result = REPLACE(@result, N'ỳ', 'y')
    SET @result = REPLACE(@result, N'ỷ', 'y')
    SET @result = REPLACE(@result, N'ỹ', 'y')
    SET @result = REPLACE(@result, N'ỵ', 'y')
    SET @result = REPLACE(@result, N'đ', 'd')

	--SET @result = REPLACE(@result, N'A', 'a')
 --   SET @result = REPLACE(@result, N'Á', 'a')
 --   SET @result = REPLACE(@result, N'À', 'a')
 --   SET @result = REPLACE(@result, N'Ả', 'a')
 --   SET @result = REPLACE(@result, N'Ã', 'a')
 --   SET @result = REPLACE(@result, N'Ạ', 'a')
 --   SET @result = REPLACE(@result, N'Ă', 'a')
 --   SET @result = REPLACE(@result, N'Ắ', 'a')
 --   SET @result = REPLACE(@result, N'Ằ', 'a')
 --   SET @result = REPLACE(@result, N'Ẳ', 'a')
 --   SET @result = REPLACE(@result, N'Ẵ', 'a')
 --   SET @result = REPLACE(@result, N'Ặ', 'a')
 --   SET @result = REPLACE(@result, N'Â', 'a')
 --   SET @result = REPLACE(@result, N'Ấ', 'a')
 --   SET @result = REPLACE(@result, N'Ầ', 'a')
 --   SET @result = REPLACE(@result, N'Ẩ', 'a')
 --   SET @result = REPLACE(@result, N'Ẫ', 'a')
 --   SET @result = REPLACE(@result, N'Ậ', 'a')
	--SET @result = REPLACE(@result, N'E', 'e')
 --   SET @result = REPLACE(@result, N'É', 'e')
 --   SET @result = REPLACE(@result, N'È', 'e')
 --   SET @result = REPLACE(@result, N'Ẻ', 'e')
 --   SET @result = REPLACE(@result, N'Ẽ', 'e')
 --   SET @result = REPLACE(@result, N'Ẹ', 'e')
 --   SET @result = REPLACE(@result, N'Ê', 'e')
 --   SET @result = REPLACE(@result, N'Ế', 'e')
 --   SET @result = REPLACE(@result, N'Ề', 'e')
 --   SET @result = REPLACE(@result, N'Ể', 'e')
 --   SET @result = REPLACE(@result, N'Ễ', 'e')
 --   SET @result = REPLACE(@result, N'Ệ', 'e')
	--SET @result = REPLACE(@result, N'I', 'i')
 --   SET @result = REPLACE(@result, N'Í', 'i')
 --   SET @result = REPLACE(@result, N'Ì', 'i')
 --   SET @result = REPLACE(@result, N'Ỉ', 'i')
 --   SET @result = REPLACE(@result, N'Ĩ', 'i')
 --   SET @result = REPLACE(@result, N'Ị', 'i')
	--SET @result = REPLACE(@result, N'O', 'o')
 --   SET @result = REPLACE(@result, N'Ó', 'o')
 --   SET @result = REPLACE(@result, N'Ò', 'o')
 --   SET @result = REPLACE(@result, N'Ỏ', 'o')
 --   SET @result = REPLACE(@result, N'Õ', 'o')
 --   SET @result = REPLACE(@result, N'Ọ', 'o')
 --   SET @result = REPLACE(@result, N'Ô', 'o')
 --   SET @result = REPLACE(@result, N'Ố', 'o')
 --   SET @result = REPLACE(@result, N'Ồ', 'o')
 --   SET @result = REPLACE(@result, N'Ổ', 'o')
 --   SET @result = REPLACE(@result, N'Ỗ', 'o')
 --   SET @result = REPLACE(@result, N'Ộ', 'o')
	--SET @result = REPLACE(@result, N'Ơ', 'o')
 --   SET @result = REPLACE(@result, N'Ớ', 'o')
 --   SET @result = REPLACE(@result, N'Ờ', 'o')
 --   SET @result = REPLACE(@result, N'Ở', 'o')
 --   SET @result = REPLACE(@result, N'Ỡ', 'o')
 --   SET @result = REPLACE(@result, N'Ợ', 'o')
	--SET @result = REPLACE(@result, N'U', 'u')
 --   SET @result = REPLACE(@result, N'Ú', 'u')
 --   SET @result = REPLACE(@result, N'Ù', 'u')
 --   SET @result = REPLACE(@result, N'Ủ', 'u')
 --   SET @result = REPLACE(@result, N'Ũ', 'u')
 --   SET @result = REPLACE(@result, N'Ụ', 'u')
 --   SET @result = REPLACE(@result, N'Ư', 'u')
 --   SET @result = REPLACE(@result, N'Ứ', 'u')
 --   SET @result = REPLACE(@result, N'Ừ', 'u')
 --   SET @result = REPLACE(@result, N'Ử', 'u')
 --   SET @result = REPLACE(@result, N'Ữ', 'u')
 --   SET @result = REPLACE(@result, N'Ự', 'u')
	--SET @result = REPLACE(@result, N'Y', 'y')
 --   SET @result = REPLACE(@result, N'Ý', 'y')
 --   SET @result = REPLACE(@result, N'Ỳ', 'y')
 --   SET @result = REPLACE(@result, N'Ỷ', 'y')
 --   SET @result = REPLACE(@result, N'Ỹ', 'y')
 --   SET @result = REPLACE(@result, N'Ỵ', 'y')	
 --   SET @result = REPLACE(@result, N'D', 'd')
 --   SET @result = REPLACE(@result, N'Đ', 'd')
	RETURN @result
END
GO
/****** Object:  UserDefinedFunction [dbo].[ShortenHTML]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create FUNCTION [dbo].[ShortenHTML] (@content NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    -- Thay thế các HTML entities về ký tự bình thường
    SET @content = REPLACE(@content, '&agrave;', 'à');
    SET @content = REPLACE(@content, '&aacute;', 'á');
    SET @content = REPLACE(@content, '&atilde;', 'ã');
    SET @content = REPLACE(@content, '&acirc;', 'â');
    SET @content = REPLACE(@content, '&egrave;', 'è');
    SET @content = REPLACE(@content, '&eacute;', 'é');
    SET @content = REPLACE(@content, '&ecirc;', 'ê');
    SET @content = REPLACE(@content, '&igrave;', 'ì');
    SET @content = REPLACE(@content, '&iacute;', 'í');
    SET @content = REPLACE(@content, '&ograve;', 'ò');
    SET @content = REPLACE(@content, '&oacute;', 'ó');
    SET @content = REPLACE(@content, '&otilde;', 'õ');
    SET @content = REPLACE(@content, '&ocirc;', 'ô');
    SET @content = REPLACE(@content, '&ugrave;', 'ù');
    SET @content = REPLACE(@content, '&uacute;', 'ú');
    SET @content = REPLACE(@content, '&Agrave;', 'À');
    SET @content = REPLACE(@content, '&Aacute;', 'Á');
    SET @content = REPLACE(@content, '&Atilde;', 'Ã');
    SET @content = REPLACE(@content, '&Acirc;', 'Â');
    SET @content = REPLACE(@content, '&Egrave;', 'È');
    SET @content = REPLACE(@content, '&Eacute;', 'É');
    SET @content = REPLACE(@content, '&Ecirc;', 'Ê');
    SET @content = REPLACE(@content, '&Igrave;', 'Ì');
    SET @content = REPLACE(@content, '&Iacute;', 'Í');
    SET @content = REPLACE(@content, '&Ograve;', 'Ò');
    SET @content = REPLACE(@content, '&Oacute;', 'Ó');
    SET @content = REPLACE(@content, '&Otilde;', 'Õ');
    SET @content = REPLACE(@content, '&Ocirc;', 'Ô');
    SET @content = REPLACE(@content, '&Ugrave;', 'Ù');
    SET @content = REPLACE(@content, '&Uacute;', 'Ú');
    SET @content = REPLACE(@content, '&yacute;', 'ý');
    SET @content = REPLACE(@content, '&Yacute;', 'Ý');
	
    SET @content = REPLACE(@content, '&quot;', '"');

    -- Trả về chuỗi đã được thay thế
    RETURN @content;
END
GO
/****** Object:  UserDefinedFunction [dbo].[Split_String]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split_String]
(
    @Input NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Output TABLE (Value NVARCHAR(MAX))
AS
BEGIN
    DECLARE @Start INT, @End INT
    SET @Start = 1
    IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Delimiter
    BEGIN
        SET @Input = @Input + @Delimiter
    END
    WHILE CHARINDEX(@Delimiter, @Input, @Start) > 0
    BEGIN
        SET @End = CHARINDEX(@Delimiter, @Input, @Start)
        INSERT INTO @Output (Value) VALUES(SUBSTRING(@Input, @Start, @End - @Start))
        SET @Start = @End + 1
    END
    RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(
    @Input NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Output TABLE (Value NVARCHAR(MAX))
--RETURNS @Output TABLE (Id INT)
AS
BEGIN
    --DECLARE @Start INT, @End INT
    --SELECT @Start = 1, @End = CHARINDEX(@Delimiter, @Input)

    --WHILE @Start < LEN(@Input) + 1 BEGIN
    --    IF @End = 0 
    --        SET @End = LEN(@Input) + 1

    --    INSERT INTO @Output (Id)
    --    VALUES (CAST(SUBSTRING(@Input, @Start, @End - @Start) AS INT))

    --    SET @Start = @End + 1
    --    SET @End = CHARINDEX(@Delimiter, @Input, @Start)
    --END

    --RETURN
	DECLARE @Start INT, @End INT
    SET @Start = 1
    IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Delimiter
    BEGIN
        SET @Input = @Input + @Delimiter
    END
    WHILE CHARINDEX(@Delimiter, @Input, @Start) > 0
    BEGIN
        SET @End = CHARINDEX(@Delimiter, @Input, @Start)
        INSERT INTO @Output (Value) VALUES(SUBSTRING(@Input, @Start, @End - @Start))
        SET @Start = @End + 1
    END
    RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitToJson]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitToJson] (@input NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX);

    SELECT @result = '[' + STRING_AGG('"' + TRIM(value) + '"', ',') + ']'
    FROM STRING_SPLIT(@input, '+');

    RETURN @result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[ToCamelCase]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[ToCamelCase] (@input NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @i INT = 1,
            @result NVARCHAR(MAX) = '',
            @len INT = LEN(@input);

    WHILE @i <= @len
    BEGIN
        DECLARE @char NCHAR(1) = SUBSTRING(@input, @i, 1);

        -- Nếu là chữ cái đầu hoặc sau khoảng trắng, chuyển thành chữ hoa
        IF @i = 1 OR SUBSTRING(@input, @i - 1, 1) = ' '
            SET @result += UPPER(@char);
        ELSE
            SET @result += LOWER(@char);

        SET @i = @i + 1;
    END

    RETURN @result;
END
GO
/****** Object:  UserDefinedFunction [dbo].[VietnameseToSlug]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[VietnameseToSlug] (@str NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX)

    -- Loại bỏ dấu tiếng Việt
    SET @result = dbo.RemoveVietnameseAccents(@str)

    -- Chuyển đổi sang chữ thường
    SET @result = LOWER(@result)

    -- Thay thế khoảng trắng bằng dấu gạch ngang
    SET @result = REPLACE(@result, ' ', '-')

    -- Loại bỏ các ký tự đặc biệt
    SET @result = @result COLLATE Latin1_General_BIN
    SET @result = REPLACE(@result, '''', '')
    SET @result = REPLACE(@result, '"', '')
    SET @result = REPLACE(@result, ',', '')
    SET @result = REPLACE(@result, '.', '')
    SET @result = REPLACE(@result, '!', '')
    SET @result = REPLACE(@result, '?', '')
    SET @result = REPLACE(@result, ':', '')
    SET @result = REPLACE(@result, ';', '')
    SET @result = REPLACE(@result, '(', '')
    SET @result = REPLACE(@result, ')', '')
    SET @result = REPLACE(@result, '[', '')
    SET @result = REPLACE(@result, ']', '')
    SET @result = REPLACE(@result, '{', '')
    SET @result = REPLACE(@result, '}', '')
    SET @result = REPLACE(@result, '@', '')
    SET @result = REPLACE(@result, '#', '')
    SET @result = REPLACE(@result, '$', '')
    SET @result = REPLACE(@result, '%', '')
    SET @result = REPLACE(@result, '^', '')
    SET @result = REPLACE(@result, '&', '')
    SET @result = REPLACE(@result, '*', '')
    SET @result = REPLACE(@result, '+', '')
    SET @result = REPLACE(@result, '=', '')
    SET @result = REPLACE(@result, '<', '')
    SET @result = REPLACE(@result, '>', '')
    SET @result = REPLACE(@result, '|', '')
    SET @result = REPLACE(@result, '/', '')
    SET @result = REPLACE(@result, '\\', '')

    RETURN @result
END
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](2000) NULL,
	[Style] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NULL,
	[Title] [nvarchar](1000) NULL,
	[RawContent] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Belong] [int] NULL,
	[Position] [int] NULL,
	[Orders] [int] NULL,
 CONSTRAINT [PK_Chapters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStory] [int] NULL,
	[Name] [nvarchar](4000) NULL,
	[CreateTime] [datetime] NULL,
	[ModifiedTime] [datetime] NULL,
 CONSTRAINT [PK_Comic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic_Episode]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic_Episode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdComic] [int] NULL,
	[Name] [nvarchar](1000) NULL,
	[Orders] [smallint] NULL,
 CONSTRAINT [PK_Comic_Episode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic_Images]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic_Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EpisodeId] [int] NULL,
	[Name] [nvarchar](1000) NULL,
	[Episode_Order] [smallint] NULL,
	[ChapterId] [bigint] NULL,
	[ChapterOrder] [smallint] NULL,
 CONSTRAINT [PK_Comic_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](2000) NULL,
	[Definition] [nvarchar](4000) NULL,
	[MultiSelect] [bit] NULL,
 CONSTRAINT [PK_GroupTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[My_Compose]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[My_Compose](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Contents] [nvarchar](max) NULL,
	[Video_Refer] [nvarchar](400) NULL,
	[CreateTime] [datetime] NULL,
	[ModifiTime] [datetime] NULL,
	[ParentId] [int] NULL,
	[Level] [tinyint] NULL,
 CONSTRAINT [PK_My_Compose] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Part_Chapter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part_Chapter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStory] [int] NULL,
	[Name] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Part_Chapter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pseu]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pseu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pseudonym] [nvarchar](2000) NULL,
	[AuthorId] [int] NULL,
 CONSTRAINT [PK_Pseu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStory] [int] NULL,
	[Review] [nvarchar](max) NULL,
	[Opening] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scene]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scene](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NULL,
	[Scene] [nvarchar](max) NULL,
	[Title] [nvarchar](1000) NULL,
	[Description] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Scene] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seri_Story]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seri_Story](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeriId] [int] NULL,
	[StoryId] [int] NULL,
	[Position] [int] NULL,
 CONSTRAINT [PK_Seri_Story_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeriName] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Seri_story] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](3000) NOT NULL,
	[NumberChapter] [nvarchar](4000) NULL,
	[ReadTo] [nvarchar](4000) NULL,
	[TagsName] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[LinkMore] [nvarchar](4000) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateChapter] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Slug] [nvarchar](500) NULL,
	[Source] [nchar](50) NULL,
	[IsCollection] [bit] NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story_Images]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IDChapter] [bigint] NULL,
	[IDStory] [int] NULL,
	[File_Name] [nvarchar](255) NULL,
	[Path] [nvarchar](150) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Story_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story_Search]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_Search](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Request] [nvarchar](4000) NULL,
	[Result] [nvarchar](max) NULL,
	[SearchBy] [nvarchar](10) NULL,
 CONSTRAINT [PK_Story_Search] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryMap]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryMap](
	[OldId] [int] NULL,
	[NewId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sub_Tag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sub_Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Definition] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Sub_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Definition] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Relationship]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Relationship](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdFrom] [int] NULL,
	[IdConnect] [int] NULL,
	[TypeConnect] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Add_PartChapter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Add_PartChapter]
	@idStory int,
	@name nvarchar(500)
as
begin
	insert into Part_Chapter (IdStory, Name) values (@idStory, @name)
end
GO
/****** Object:  StoredProcedure [dbo].[Change_StatusRead]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Change_StatusRead]
	@storyId int,
	@stt bit
AS
BEGIN
    SET NOCOUNT ON;
	update Story set IsRead = @stt where Id = @storyId
END
GO
/****** Object:  StoredProcedure [dbo].[Check_Deleted]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Check_Deleted]
	@name nvarchar(256),
	@type nvarchar(500)
as
begin
	if @type = 'Table'
	begin
		SELECT 
			o.type_desc AS ObjectType,
			o.name AS ObjectName,
			m.definition AS ObjectDefinition
		FROM sys.sql_modules m
		JOIN sys.objects o ON m.object_id = o.object_id
		WHERE m.definition LIKE '%' + @name + '%';
	end
	else if @type = 'Column'
	begin
		-- @name nên truyền theo dạng: TableName.ColumnName
        SELECT 
            o.type_desc AS ObjectType,
            o.name AS ObjectName,
            m.definition AS ObjectDefinition
        FROM sys.sql_modules m
        JOIN sys.objects o ON m.object_id = o.object_id
        WHERE m.definition LIKE '%' + @name + '%';
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Author]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Author]
	@Id int,
	@name nvarchar(200),
	@pseudonym nvarchar(max),
	@style nvarchar(4000)
as
begin
	DECLARE @Data TABLE (
			Id int,
			Pseu nvarchar(1000)
		);
	INSERT INTO @Data (Id, Pseu)
	SELECT
		NULLIF(JSON_VALUE(Value, '$.id'), 0),
		JSON_VALUE(Value, '$.pseudonym')
	FROM OPENJSON(@pseudonym);

    IF @Id <= 0 
	begin
		insert into Authors(Name, Style) values (@name, @style)

		set @Id = SCOPE_IDENTITY()

		insert into Pseu (Pseudonym, AuthorId)
		select Pseu, @Id
		from @Data
	end
	else
	begin
		update Authors
		set Name = @name, Style = @style
		where Id = @Id

		delete Pseu where Id not in (select Id from @Data)

		Update Pseu 
		set Pseudonym = d.Pseu
		from Pseu p join @Data d on p.Id = d.Id and d.Id > 0

		insert into Pseu (Pseudonym, AuthorId)
		select Pseu, @Id
		from @Data where Id = 0
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Chapter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Chapter]
	@Id bigint,
	@idStory int,
	@title nvarchar(300),
	@content nvarchar(MAX),
	@raw nvarchar(MAX),
	@belong int,
	@order int,
	@numberChapter int output
as
begin
	set nocount on;
	set @numberChapter = (select count(Id) from Chapters where StoryId = @idStory)
	IF @Id <= 0 
	begin
		if @order <= @numberChapter
		begin
			Update Chapters
			set Orders = Orders +  1
			where StoryId = @idStory and Orders >= @order
		end
		insert into Chapters(StoryId ,Title, Content, RawContent, Belong, Orders) 
		values (@idStory, @title, @content, @raw, @belong, @order)

		if @@ROWCOUNT > 0 
			set @numberChapter = @numberChapter + 1
		update Story set UpdateChapter = GETDATE() where Id = @idStory
	end
	else
	begin
		if @order <= @numberChapter
		begin
			update Chapters
			set Orders = Orders + 1
			where Orders >= @order and StoryId = @idStory
		end

		update Chapters
		set Title = @title, Content = @content, Belong = @belong, Orders = @order, RawContent = @raw
		where Id = @Id
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Chapter2]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Chapter2]
	@Id int,
	@idStory int,
	@title nvarchar(300),
	@content nvarchar(MAX),
	@belong int,
	@type nvarchar(10),
	@relateId int
as
begin

	declare @position int = (select MAX(Position) from Chapters where StoryId = @idStory)
	if @position is null
	begin
		select @position = 0
	end

	IF @Id <= 0 
	begin
		declare @relateOrders int = (select top 1 Position from Chapters where Id = @relateId)
		if @type = 'AfterAll'
			insert into Chapters(StoryId ,Title, Content, Belong, Position) values (@idStory, @title, @content, @belong, @position + 1)
		-----------------------------------------------
		if @type = 'Prev'
		begin
			update Chapters
			set Position = Position + 1
			where StoryId = @idStory and Position >= @relateOrders

			insert into Chapters(StoryId ,Title, Content, Belong, Position) values (@idStory, @title, @content, @belong, @relateOrders)
		end
		-----------------------------------------------
		if @type = 'Next'
		begin
			update Chapters
			set Position = Position + 1
			where StoryId = @idStory and Position >= @relateOrders + 1

			insert into Chapters(StoryId ,Title, Content, Belong, Position) values (@idStory, @title, @content, @belong, @relateOrders + 1)
		end
		-----------------------------------------------
		update Story set ModifiedDate = GETDATE() where Id = @idStory
	end
	else
	begin
		update Chapters
		set Title = @title, Content = @content
		where Id = @Id
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Compose]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CreateOrUpdate_Compose]
	@id int,
	@name nvarchar(500),
	@cnt nvarchar(max),
	@vd_refer nvarchar(400),
	@pId int
as
begin
	SET NOCOUNT ON;
	declare @pLv int = 0
	if @id <= 0
	begin
		insert into My_Compose (Name, Contents, Video_Refer, CreateTime, ParentId)
		values (@name, @cnt, @vd_refer, getdate(), @pId)

		set @id =  SCOPE_IDENTITY()

		set @pLv = (select case when @pId = 0 then 0 else (select top 1 Level from My_Compose where Id = @pId) end)

		update My_Compose
		set Level = @pLv + 1
		where Id = @id
	end
	else
	begin
		declare @oldLevel int
		declare @newLevel int
		declare @delta int

		select @oldLevel = Level
		from My_Compose
		where Id = @id

		set @pLv = (
			select case 
				when @pId = 0 then 0 
				else (select top 1 Level from My_Compose where Id = @pId)
			end
		)

		set @newLevel = @pLv + 1
		set @delta = @newLevel - @oldLevel

		update My_Compose
		set Name = @name,
			Contents = @cnt,
			Video_Refer = @vd_refer,
			ModifiTime = getdate(),
			ParentId = @pId,
			Level = @newLevel
		where Id = @id


		-- lấy toàn bộ node con
		;WITH cte AS
		(
			select Id, ParentId
			from My_Compose
			where ParentId = @id

			union all

			select c.Id, c.ParentId
			from My_Compose c
			inner join cte t on c.ParentId = t.Id
		)

		update My_Compose
		set Level = Level + @delta
		where Id in (select Id from cte)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_GroupTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CreateOrUpdate_GroupTag]
	@Id int,
	@Name nvarchar(255),
	@Definition nvarchar(4000),
	@MultiSelect bit,
	@listTag nvarchar(4000),
	@listsubTag nvarchar(4000)
as
begin
	DECLARE @DataTag TABLE (
			Id int
		);
	DECLARE @DataSubTag TABLE (
			Id int
		);
	insert into @DataTag
	Select value from Split_String(@listTag, ',')

	insert into @DataSubTag
	Select value from Split_String(@listsubTag, ',')

	if @Id <= 0
	begin
		insert into GroupTag(Name, Definition, MultiSelect)
		values (@Name, @Definition, @MultiSelect)

		set @Id = SCOPE_IDENTITY()

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Group_Tag' from @DataTag

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Group_SubTag' from @DataSubTag
	end
	else
	begin
		update GroupTag
		set Name = @Name, Definition = @Definition, MultiSelect = @MultiSelect
		where Id = @Id

		delete Tbl_Relationship where IdConnect not in (select Id from @DataTag) and TypeConnect = 'Group_Tag' and IdFrom = @Id
		delete Tbl_Relationship where IdConnect not in (select Id from @DataSubTag) and TypeConnect = 'Group_SubTag' and IdFrom = @Id

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Group_Tag' from @DataTag
		where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Group_Tag' and IdFrom = @Id)

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Group_SubTag' from @DataSubTag
		where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Group_SubTag' and IdFrom = @Id)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_PartChapter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_PartChapter]
	@idStory int,
    @name nvarchar(500),
	@idPart int,
	@NewId INT OUTPUT,
	@NewPartName nvarchar(500) output
AS
BEGIN
    SET NOCOUNT ON;
	if @idPart = 0
	begin
		insert into Part_Chapter(IdStory, Name) values (@idStory, @name)
		SET @NewId = SCOPE_IDENTITY();
	end
	else
	begin
		update Part_Chapter
		set Name = @name
		where Id = @idPart and IdStory = @idStory

		set @NewId = @idPart
	end
	set @NewPartName = (Select top 1 Name from Part_Chapter where Id = @NewId)
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Review]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Review]
	@idStory int,
	@review nvarchar(max),
	@opening nvarchar(max)
as
begin
    IF EXISTS (SELECT 1 FROM Review WHERE IdStory = @idStory)
    BEGIN
        UPDATE Review
        SET Review = @review, Opening = @opening
        WHERE IdStory = @idStory;
    END
    ELSE
    BEGIN
        INSERT INTO Review(IdStory, Review, Opening)
        VALUES (@idStory, @review, @opening);
    END

	--cách 2

	--MERGE Review AS target
	--USING (SELECT @IdStory AS IdStory, @Review AS Review) AS source
	--ON (target.IdStory = source.IdStory)
	--WHEN MATCHED THEN
	--	UPDATE SET Review = source.Review
	--WHEN NOT MATCHED THEN
	--	INSERT (IdStory, Review)
	--	VALUES (source.IdStory, source.Review);
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Search]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CreateOrUpdate_Search]
	@id int,
	@request nvarchar(4000),
	@result nvarchar(max),
	@searchBy nvarchar(10)
as
begin
	--SET NOCOUNT ON;
	if @id <= 0
		insert into Story_Search (Request, Result, SearchBy)
		values (@request, @result, @searchBy)
	else
		update Story_Search
		set Request = @request, Result = @result, SearchBy = @searchBy
		where Id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Series]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CreateOrUpdate_Series]
	@id int,
	@name nvarchar(2000),
	@lstStory nvarchar(4000)
as
begin
    DECLARE @Data TABLE (
			IdStory int,
			Position int
		);

	INSERT INTO @Data (IdStory, Position)
	SELECT
		JSON_VALUE(Value, '$.storyId'),
		JSON_VALUE(Value, '$.position')
	FROM OPENJSON(@lstStory);

	if @id <= 0
	begin
		Insert into Series (SeriName) values (@name)
		set @id = SCOPE_IDENTITY()
	end
	else
		update Series set SeriName = @name where Id =@id

	delete Seri_Story where SeriId = @id and StoryId not in (select distinct IdStory from @Data)

	insert into Seri_Story (SeriId, StoryId, Position)
	select @id, IdStory, Position
	from @Data

end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Story]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Story]
	@Id int,
	@name nvarchar(2000),
	@numberChapter nvarchar(1000),
	@read bit,
	@tags nvarchar(4000),
	@tagId nvarchar(max),
	@subTagId nvarchar(max),
	@authors nvarchar(max),
	@source nchar(500)
as
begin
	DECLARE @DataTag TABLE (
			Id int
		);
	DECLARE @DataSubTag TABLE (
			Id int
		);
	DECLARE @DataAuthor TABLE (
			Id int
		);
	insert into @DataTag select value from Split_String(@tagId, ',')
	insert into @DataSubTag select value from Split_String(@subTagId, ',')
	insert into @DataAuthor select value from Split_String(@authors, ',')
	IF @Id <= 0
	begin
		insert into Story (Name, NumberChapter, IsRead, Source, CreateDate, TagsName) values (@name, @numberChapter, @read, @source, GETDATE(), @tags)

		set @Id = SCOPE_IDENTITY()

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Tag' from @DataTag

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_SubTag' from @DataSubTag

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Author' from @DataAuthor
	end
	else
	begin
		update Story
		set Name = @name, NumberChapter = @numberChapter, IsRead = @read, ModifiedDate = GETDATE(), Source = @source, TagsName = @tags
		where Id = @Id

		Update Comic 
		set Name = @name
		where IdStory = @Id
		----------------------------------------------------------------
		delete Tbl_Relationship where IdFrom = @Id and TypeConnect = 'Story_Tag' and IdConnect not in (select Id from @DataTag)
		delete Tbl_Relationship where IdFrom = @Id and TypeConnect = 'Story_SubTag' and IdConnect not in (select Id from @DataSubTag)
		delete Tbl_Relationship where IdFrom = @Id and TypeConnect = 'Story_Author' and IdConnect not in (select Id from @DataAuthor)
		----------------------------------------------------------------
		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Tag' from @DataTag where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_Tag' and IdFrom = @Id)

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_SubTag' from @DataSubTag where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_SubTag' and IdFrom = @Id)

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Author' from @DataAuthor where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_Author' and IdFrom = @Id)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_TagOrSubTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CreateOrUpdate_TagOrSubTag]
	@Id int,
	@type nvarchar(10),
	@name nvarchar(200),
	@definition nvarchar(4000),
	@stt bit output,
	@mss nvarchar(1500) output
as
begin
	if @type = 'Tag'
	begin
		if @Id <= 0
			insert into Tags(Name, Definition) values (@name, @definition)
		else
			update Tags
			set Name = @name, Definition = @definition
			where Id = @Id
		set @stt = 1
		set @mss = N'Thao tác thành công'
	end
	else if @type = 'SubTag'
	begin
		if @Id <= 0
			insert into Sub_Tag(Name, Definition) values (@name, @definition)
		else
			update Sub_Tag
			set Name = @name, Definition = @definition
			where Id = @Id
		set @stt = 1
		set @mss = N'Thao tác thành công'
	end
	else
	begin
		set @stt = 0
		set @mss = N'Không tìm thấy Module'
	end
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_Chapter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Chapter]
	@id bigint
as
begin
	delete Chapters where Id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_ChapterImages]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Delete_ChapterImages]
	@idStory int,
	@images nvarchar(max)
as
begin
	DECLARE @TblImages TABLE (
		ImageName nvarchar(500)
	)

	INSERT INTO @TblImages(ImageName)
	SELECT value
	FROM OPENJSON(@images)

	delete Chapter_Images
	where IdStory = @idStory 
		and ImgName in (select ImageName from @TblImages)
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_Search]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Delete_Search]
	@Ids nvarchar(500)
as
begin
	DECLARE @idList TABLE (
		Id int
	);
	INSERT INTO @idList (Id)
	SELECT 
		JSON_VALUE(Value, '$.Id')
	FROM OPENJSON(@Ids);

	delete Story_Search where Id in (select Id from @idList)
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_Story]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Story]
	@id int
as
begin
	delete from Story where Id = @id
	delete from Review where IdStory = @id
	--delete from Scene where IdStory = @id
	delete from Chapters where StoryId = @id
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_TagOrSubTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_TagOrSubTag]
	@id int,
	@type nvarchar(10),
	@Status bit output,
	@Message nvarchar(150) output
as
begin
	set nocount on
	if @type = 'Tag'
	begin
		delete Tags where Id = @id
		if @@ROWCOUNT > 0
		begin
			delete Tbl_Relationship where TypeConnect in ('Story_Tag', 'Group_Tag') and IdConnect = @id
			set @Status =  1
			set @Message =  N'Xóa thẻ thành công'
		end
		else
		begin
			set @Status =  0
			set @Message =  N'Không tìm thấy thẻ'
		end
	end
	else if @type = 'SubTag'
	begin
		delete Sub_Tag where Id = @id
		if @@ROWCOUNT > 0
		begin
			delete Tbl_Relationship where TypeConnect in ('Story_SubTag', 'Group_SubTag') and IdConnect = @id
			set @Status =  1
			set @Message =  N'Xóa thẻ phụ thành công'
		end
		else
		begin
			set @Status =  0
			set @Message =  N'Không tìm thấy thẻ phụ'
		end
	end
end
GO
/****** Object:  StoredProcedure [dbo].[Exchange_ChapterPosition]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Exchange_ChapterPosition]
	@oldId int,
	@newId int
as
begin
	declare @oldPosition int = (select top 1 Position from Chapters where Id = @oldId)
	declare @newPosition int = (select top 1 Position from Chapters where Id = @newId)

	update Chapters
	set Position = @newPosition
	where Id = @oldId

	update Chapters
	set Position = @oldPosition
	where Id = @newId
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Author]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Author]
	@search nvarchar(255),
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	SET NOCOUNT ON;

    DECLARE @searchString nvarchar(300) = '%' + LOWER(@search) + '%';

    -- Tính tổng số row distinct
    SELECT @totalRow = COUNT(DISTINCT a.Id)
    FROM Authors a
    LEFT JOIN Pseu p ON a.Id = p.AuthorId
    WHERE @search IS NULL 
          OR (LOWER(a.Name) LIKE @searchString 
              OR LOWER(p.Pseudonym) LIKE @searchString);

    -- Lấy dữ liệu phân trang
    SELECT DISTINCT a.Id, a.Name, a.Style
    FROM Authors a
    LEFT JOIN Pseu p ON a.Id = p.AuthorId
    WHERE @search IS NULL 
          OR (LOWER(a.Name) LIKE @searchString 
              OR LOWER(p.Pseudonym) LIKE @searchString)
    ORDER BY a.Name
    OFFSET @pageIndex ROWS
    FETCH NEXT @pageSize ROWS ONLY;
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Chapter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Chapter]
	@idStory int,
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	select @totalRow = (select count(distinct Id) from Chapters c where c.StoryId = @idStory)

	select c.Title, c.Id as ChapterId, c.StoryId, pc.Name as Part_Name
	from Chapters c
	left join Part_Chapter pc on c.Belong = pc.Id
	where c.StoryId = @idStory
	ORDER BY c.Orders
	OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Chapter2]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_Chapter2]
	@idStory int,
    @idPart int,
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	select @totalRow = (select count(distinct Id) from Chapters c where c.StoryId = @idStory and (@idPart = 0 or c.Belong = @idPart))

	select c.Title, c.Id as ChapterId 
	from Chapters c
	left join Part_Chapter pc on c.Belong = pc.Id
	where c.StoryId = @idStory and (@idPart = 0 or c.Belong = @idPart)
	ORDER BY pc.IdStory, c.Position 
	OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[Get_ChapterDetail]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_ChapterDetail]
	@id bigint
as
begin
	select top 1  *
	from Chapters
	where Id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[Get_ChapterToRead]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_ChapterToRead]
	@idChapter bigint,
	@idstory int,
	@currentChapterId bigint output,
	@prevChapterId bigint output,
	@prevChapterTitle nvarchar(500) output,
	@nextChapterId bigint output,
	@nextChapterTitle nvarchar(500) output
as
begin
	--with orderChapter as (
	--	select c.Id, c.Title , ROW_NUMBER() OVER (order by c.Belong, c.Position) AS ChapterNumber
	--	from Chapters c	
	--)

	create table #orderChapter (
		Id bigint,
		Title nvarchar(300),
		ChapterNumber int
	);
	insert into #orderChapter (Id, Title, ChapterNumber)
	select c.Id, c.Title , ROW_NUMBER() OVER (order by c.Belong, c.Position) from Chapters c where StoryId = @idstory
	
	if @idChapter = 0
	begin
		select @currentChapterId = (select top 1 c.Id
		from Chapters c
		where c.StoryId = @idstory
		order by c.Belong, c.Position)

		select top 1 c.*
		from Chapters c
		where c.StoryId = @idstory
		order by c.Belong, c.Position
	end
	else
	begin
		select @currentChapterId = @idChapter

		select top 1 c.*, Part_Chapter.Name as Part_Name
		from Chapters c
		left join Part_Chapter on c.Belong = Part_Chapter.Id
		where c.Id = @idChapter
	end

	-- Lấy chương hiện tại từ bảng tạm
    DECLARE @currentChapterNumber INT;
    SELECT @currentChapterNumber = ChapterNumber
    FROM #orderChapter
    WHERE Id = @currentChapterId;

    -- Lấy chương trước
    SELECT TOP 1 @prevChapterId = oc.Id, @prevChapterTitle = oc.Title
    FROM #orderChapter oc
    WHERE oc.ChapterNumber = @currentChapterNumber - 1;

    -- Nếu không có chương trước, đặt @prevChapterId và @prevChapterTitle = 0 hoặc giá trị mặc định
    IF @prevChapterId IS NULL
    BEGIN
        SET @prevChapterId = 0;
        SET @prevChapterTitle = N'';
    END

    -- Lấy chương sau
    SELECT TOP 1 @nextChapterId = oc.Id, @nextChapterTitle = oc.Title
    FROM #orderChapter oc
    WHERE oc.ChapterNumber = @currentChapterNumber + 1;

    -- Nếu không có chương sau, đặt @nextChapterId và @nextChapterTitle = 0 hoặc giá trị mặc định
    IF @nextChapterId IS NULL
    BEGIN
        SET @nextChapterId = 0;
        SET @nextChapterTitle = N'';
    END

    -- Xóa bảng tạm
    DROP TABLE #orderChapter;
end
GO
/****** Object:  StoredProcedure [dbo].[Get_ChapterToRead2]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_ChapterToRead2]
	@idChapter bigint,
	@idstory int,
	@currentChapterId bigint output,
	@prevChapterId bigint output,
	@prevChapterTitle nvarchar(500) output,
	@nextChapterId bigint output,
	@nextChapterTitle nvarchar(500) output
as
begin
	SET NOCOUNT ON;
	------------------------------------------------
	-- lấy chương hiện tại
	------------------------------------------------
	IF @idChapter = 0
	BEGIN

	SELECT TOP 1
		@currentChapterId = c.Id
	FROM Chapters c
	WHERE c.StoryId = @idstory
	ORDER BY c.Orders

	END
	ELSE
	BEGIN
		SET @currentChapterId = @idChapter
	END
	------------------------------------------------
	-- lấy thông tin chương hiện tại
	------------------------------------------------
	SELECT
		c.*,
		p.Name AS Part_Name
	FROM Chapters c
	LEFT JOIN Part_Chapter p
	ON p.Id = c.Belong
	WHERE c.Id = @currentChapterId
	------------------------------------------------
	-- lấy Order hiện tại
	------------------------------------------------
	DECLARE @currentOrder int

	SELECT
	@currentOrder = Orders
	FROM Chapters
	WHERE Id = @currentChapterId
	------------------------------------------------
	-- chương trước
	------------------------------------------------
	SELECT TOP 1
	@prevChapterId = Id,
	@prevChapterTitle = Title
	FROM Chapters
	WHERE StoryId = @idstory
	AND Orders < @currentOrder
	ORDER BY Orders DESC

	IF @prevChapterId IS NULL
	BEGIN
	SET @prevChapterId = 0
	SET @prevChapterTitle = N''
	END
	------------------------------------------------
	-- chương sau
	------------------------------------------------
	SELECT TOP 1
	@nextChapterId = Id,
	@nextChapterTitle = Title
	FROM Chapters
	WHERE StoryId = @idstory
	AND Orders > @currentOrder
	ORDER BY Orders

	IF @nextChapterId IS NULL
	BEGIN
	SET @nextChapterId = 0
	SET @nextChapterTitle = N''
	END
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Comic]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_Comic]
    @pageIndex int,
    @pageSize int,
    @search nvarchar(255),
	@totalRow int OUTPUT
as
begin
	SET NOCOUNT ON;
	set @totalRow = (select COUNT(Id) from Comic
					where @search is null or @search = '' or lower(Name) like '%' + @search + '%')
	select Id, Name
	from Comic
	where @search is null 
		or @search = '' 
		or lower(Name) like '%' + @search + '%'
	ORDER BY Name
    OFFSET @pageIndex ROWS
    FETCH NEXT @pageSize ROWS ONLY;
end
GO
/****** Object:  StoredProcedure [dbo].[Get_GroupTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_GroupTag]
	@search nvarchar(255),
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	declare @searchString nvarchar(300) = '%' + @search + '%';

	select @totalRow = (select count(distinct Id)
	from GroupTag a
	where @search is null or (a.Name like @searchString or a.Definition like @searchString))

	select *
	from GroupTag a
	where @search is null or (a.Name like @searchString or a.Definition like @searchString)

	ORDER BY a.Name OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[Get_IdStoryByName]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_IdStoryByName]
	@nameSlug nvarchar(4000),
	@idStory int output
as
begin
	select @idStory = (select top 1 Id from Story s where dbo.VietnameseToSlug(s.Name) = @nameSlug)
end
GO
/****** Object:  StoredProcedure [dbo].[Get_PartChapter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_PartChapter]
	@idStory int,
	@totalChapters int output
as
begin
	select @totalChapters = (select count(Id) from Chapters where StoryId = @idStory)
	
	SELECT 
		pc.*,
		(select COUNT(Id) from Chapters where Belong = pc.Id and StoryId = @idStory) AS ChapterCount
	FROM 
		Part_Chapter pc
	WHERE 
		pc.IdStory = 0 OR pc.IdStory = @idStory
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Pseu]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_Pseu]
	@id int,
	@type nvarchar(25)
as
begin
	if @type = 'Author'
		select * from Pseu where AuthorId = @id
	else if @type = 'Story'
		select * from Pseu  where Id in (select IdConnect from Tbl_Relationship where IdFrom = @id and TypeConnect = 'Story_Author')
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Review]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_Review]
	@idStory int
as
begin
	select top 1 * from Review where IdStory = @idStory
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Search]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_Search]
    @pageIndex int,
    @pageSize int,
    @search nvarchar(255),
	@totalRow int OUTPUT
as
begin
	SET NOCOUNT ON;
	set @totalRow = (select COUNT(Id) from Story_Search
					where @search is null or @search = '' or lower(Request) like '%' + @search + '%')
	select Id, Request
	from Story_Search
	where @search is null 
		or @search = '' 
		or lower(Request) like '%' + @search + '%'
	ORDER BY Request
    OFFSET @pageIndex ROWS
    FETCH NEXT @pageSize ROWS ONLY;
end
GO
/****** Object:  StoredProcedure [dbo].[Get_SearchAuthor]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_SearchAuthor]
	@search nvarchar(255)
as
begin
	SET NOCOUNT ON;

    DECLARE @searchString nvarchar(300) = '%' + LOWER(@search) + '%';

    SELECT DISTINCT top 10 a.Id, a.Name, a.Style
    FROM Authors a
    LEFT JOIN Pseu p ON a.Id = p.AuthorId
    WHERE @search IS NULL 
          OR (LOWER(a.Name) LIKE @searchString 
              OR LOWER(p.Pseudonym) LIKE @searchString)
    ORDER BY a.Name;
end
GO
/****** Object:  StoredProcedure [dbo].[Get_SearchDetail]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_SearchDetail]
	@id int
as
begin
	SET NOCOUNT ON;
	select top 1 *
	from Story_Search
	where Id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[Get_SearchStoryForSeries]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_SearchStoryForSeries]
	@search nvarchar(255),
	@idSelected nvarchar(4000)
as
begin
	declare @searchString nvarchar(300) = '%' + @search + '%';
	DECLARE @Data TABLE (
			Id int
		);
	DECLARE @result TABLE (Id int, Name nvarchar(4000));
	insert into @Data (Id)
	select cast(value as int) from Split_String(@idSelected, ',')

	insert into @result
	select Id, Name
	from Story where Id not in (select Id from @Data) and LOWER(Name) like @searchString

	select * from @result
end
GO
/****** Object:  StoredProcedure [dbo].[Get_SearchTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_SearchTag]
	@search nvarchar(255),
	@idSelected nvarchar(4000),
	@type nvarchar(25),
	@for nvarchar(25)
as
begin
	declare @searchString nvarchar(300) = '%' + @search + '%';
	DECLARE @Data TABLE (
			Id int,
			IdGroup int,
			MultiSelect bit
		);
	insert into @Data (Id)
	select cast(value as int) from Split_String(@idSelected, ',')
	if @type = 'SubTag'
	begin
		select top 10 * from Sub_Tag 
		where Id not in (select Id from @Data) and (Name like @searchString or Definition like @searchString)
	end
	else if @type = 'Tag'
	begin
		if @for = 'ForGroup'
		begin
			select top 10 Id, Name from Tags 
			where (Name like @searchString or Definition like @searchString) and Id not in (select Id from @Data)
					and Id not in (select distinct IdConnect from Tbl_Relationship where TypeConnect = N'Group_Tag')
		end
		else if @for = 'ForStory'
		begin
			UPDATE D
			SET 
				D.IdGroup = GT.Id,
				D.MultiSelect = GT.MultiSelect
			FROM @Data D
			INNER JOIN dbo.Tags T
				ON T.Id = D.Id
			INNER JOIN dbo.Tbl_Relationship R
				ON R.IdConnect = T.Id
			   AND R.TypeConnect = N'Group_Tag'
			INNER JOIN dbo.GroupTag GT
				ON GT.Id = R.IdFrom; 

			SELECT TOP 10 T.Id, T.Name
			FROM dbo.Tags T
			INNER JOIN dbo.Tbl_Relationship R
				ON R.IdConnect = T.Id
			   AND R.TypeConnect = N'Group_Tag'
			INNER JOIN dbo.GroupTag G
				ON G.Id = R.IdFrom
			WHERE T.Name LIKE @searchString
			  AND (
					-- TH1: GroupTag.MultiSelect = 0 hoặc NULL
					( (G.MultiSelect = 0 OR G.MultiSelect IS NULL)
					  AND G.Id NOT IN (SELECT IdGroup FROM @Data) )
        
					-- TH2: GroupTag.MultiSelect = 1
					OR ( G.MultiSelect = 1
						 AND T.Id NOT IN (SELECT Id FROM @Data) )
				  )
			ORDER BY T.Name;
		end
	end
end
GO
/****** Object:  StoredProcedure [dbo].[Get_SearchToFilter]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_SearchToFilter]
	@search nvarchar(255),
	@idSelected nvarchar(4000),
    @type nvarchar(15)
as
begin
	SET NOCOUNT ON;

    DECLARE @searchString NVARCHAR(300) = '%' + LOWER(ISNULL(@search, '')) + '%';

    DECLARE @SelectedIds TABLE (Id INT);

    insert into @SelectedIds (Id)
    select TRY_CAST(value AS INT) from Split_String(@idSelected, ',')

    if @type = 'Tag'
    begin

        ;WITH MatchedTags AS
        (
            SELECT t.Id, t.Name, t.Definition
            FROM dbo.Tags t
            WHERE (LOWER(t.Name) LIKE @searchString OR LOWER(ISNULL(t.Definition, '')) LIKE @searchString)
                    --and Id not in (select Id from @SelectedIds)
        )
        SELECT DISTINCT top 10
            mt.Id,
            mt.Name
            --mt.Definition,
            --g.Id AS GroupId,
            --g.Name AS GroupName,
            --g.MultiSelect
        FROM MatchedTags mt
        LEFT JOIN dbo.Tbl_Relationship r ON r.IdConnect = mt.Id AND r.TypeConnect = 'Group_Tag'
        LEFT JOIN dbo.GroupTag g ON g.Id = r.IdFrom
        WHERE
            (@idSelected is null or @idSelected = '') or
            (
                (
                    EXISTS (
                        SELECT 1
                        FROM dbo.Tbl_Relationship r2
                        JOIN dbo.GroupTag g2 ON g2.Id = r2.IdFrom
                        WHERE r2.IdConnect = mt.Id
                          AND r2.TypeConnect = 'Group_Tag'
                          AND g2.MultiSelect = 1
                    )
                    OR NOT EXISTS (
                        SELECT 1
                        FROM dbo.Tbl_Relationship r3
                        WHERE r3.IdConnect = mt.Id
                          AND r3.TypeConnect = 'Group_Tag'
                    )
                )
                AND NOT EXISTS (SELECT 1 FROM @SelectedIds s WHERE s.Id = mt.Id)
            )
        ORDER BY mt.Name;
    end
    else if @type = 'SubTag'
    begin
        select top 10 Id, Name from Sub_Tag t
        where (LOWER(t.Name) LIKE @searchString OR LOWER(ISNULL(t.Definition, '')) LIKE @searchString) and t.Id not in (select Id from @SelectedIds)
    end
    else if @type = 'Author'
    begin
        select top 10 Id, Pseudonym as Name
        from Pseu
        where dbo.RemoveVietnameseAccents2(Pseudonym) LIKE '%' + dbo.RemoveVietnameseAccents2(@search) + '%'
            and ((@idSelected is null or @idSelected = '') or (AuthorId not in (select distinct p.AuthorId from @SelectedIds s join Pseu p on s.Id = p.Id)))
    end
end

--exec Get_SearchTagToFilterStory N'TE', '5'
GO
/****** Object:  StoredProcedure [dbo].[Get_Story]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Story]
	@pageIndex int,
	@pageSize int,
	@search nvarchar(255),
	@tags nvarchar(4000),
	@authors nvarchar(4000),
	@stt nchar(10),
	@totalRow int output
as
begin
	--DECLARE @numberTag int;
	--DECLARE @numberAuthor int;
	DECLARE @searchString nvarchar(300) = '%' + @search + '%';

	select @totalRow = (SELECT COUNT(s.Id) FROM Story s where (@search is null or Name like @searchString)
						and (@stt = 'All' or s.IsRead = case when @stt = 'Read' then 1 else 0 end))

	SELECT s.Id, s.Name, s.NumberChapter, s.IsRead, s.Source
	FROM Story s
	where (@search is null or Name like @searchString)
		and (@stt = 'All' or s.IsRead = case when @stt = 'Read' then 1 else 0 end)
	ORDER BY s.Name OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Story3]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Story3]
    @pageIndex int,
    @pageSize int,
    @search nvarchar(255),
    @tags nvarchar(4000),
    @subTags nvarchar(4000),
    @authors nvarchar(4000),
    @stt nchar(10),
    @totalRow int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TagIds TABLE (Id int, GroupId int, MultiSelect bit);
    DECLARE @SubTagIds TABLE (Id int);
    DECLARE @AuthorId TABLE (Id int, AuthorId int);

    ------------------------------------------------
    INSERT INTO @TagIds (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@tags, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    INSERT INTO @SubTagIds (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@subTags, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    INSERT INTO @AuthorId (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@authors, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    ------------------------------------------------
    UPDATE t
    SET GroupId = r.IdFrom
    FROM @TagIds t
    INNER JOIN Tbl_Relationship r 
        ON t.Id = r.IdConnect 
       AND r.TypeConnect = 'Group_Tag';

    UPDATE @TagIds
    SET MultiSelect = g.MultiSelect
    FROM GroupTag g
    JOIN @TagIds t ON t.GroupId = g.Id;

    INSERT INTO @TagIds (Id)
    SELECT DISTINCT r.IdConnect
    FROM Tbl_Relationship r
    INNER JOIN @TagIds t ON t.GroupId = r.IdFrom
    WHERE t.MultiSelect = 0
      AND NOT EXISTS (SELECT 1 FROM @TagIds x WHERE x.Id = r.IdConnect);

    ------------------------------------------------
    UPDATE a
    SET AuthorId = r.AuthorId
    FROM @AuthorId a
    INNER JOIN Pseu r ON r.Id = a.Id;

    INSERT INTO @AuthorId (Id, AuthorId)
    SELECT DISTINCT p.Id, p.AuthorId
    FROM Pseu p
    WHERE p.AuthorId IN (SELECT DISTINCT AuthorId FROM @AuthorId WHERE AuthorId IS NOT NULL)
      AND NOT EXISTS (SELECT 1 FROM @AuthorId a WHERE a.Id = p.Id);

    ------------------------------------------------
    DECLARE @searchString nvarchar(300) = '%' + ISNULL(@search, '') + '%';

    ------------------------------------------------
    SELECT @totalRow = COUNT(DISTINCT s.Id)
    FROM Story s
    WHERE (@search IS NULL OR s.Name LIKE @searchString)
      AND (@stt = 'All' OR s.IsRead = CASE WHEN @stt = 'Read' THEN 1 ELSE 0 END)
      AND (
            NOT EXISTS (SELECT 1 FROM @SubTagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relSub
                INNER JOIN @SubTagIds st ON relSub.IdConnect = st.Id
                WHERE relSub.TypeConnect = 'Story_SubTag'
                  AND relSub.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @TagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relTag
                INNER JOIN @TagIds st ON relTag.IdConnect = st.Id
                WHERE relTag.TypeConnect = 'Story_Tag'
                  AND relTag.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @AuthorId)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relAu
                INNER JOIN @AuthorId st ON relAu.IdConnect = st.Id
                WHERE relAu.TypeConnect = 'Story_Author'
                  AND relAu.IdFrom = s.Id
            )
          );

    ------------------------------------------------
    SELECT s.Id, s.Name, s.NumberChapter, s.IsRead, s.Source, s.TagsName, dbo.GetChaptersSave(s.Id) as 'ChapterUploaded'
    FROM Story s
    WHERE (@search IS NULL OR s.Name LIKE @searchString)
      AND (@stt = 'All' OR s.IsRead = CASE WHEN @stt = 'Read' THEN 1 ELSE 0 END)
      AND (
            NOT EXISTS (SELECT 1 FROM @SubTagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relSub
                INNER JOIN @SubTagIds st ON relSub.IdConnect = st.Id
                WHERE relSub.TypeConnect = 'Story_SubTag'
                  AND relSub.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @TagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relTag
                INNER JOIN @TagIds st ON relTag.IdConnect = st.Id
                WHERE relTag.TypeConnect = 'Story_Tag'
                  AND relTag.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @AuthorId)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relAu
                INNER JOIN @AuthorId st ON relAu.IdConnect = st.Id
                WHERE relAu.TypeConnect = 'Story_Author'
                  AND relAu.IdFrom = s.Id
            )
          )
    GROUP BY s.Id, s.Name, s.NumberChapter, s.IsRead, s.Source, s.TagsName
    ORDER BY s.Name
    OFFSET @pageIndex ROWS
    FETCH NEXT @pageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_Story4]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Story4]
    @pageIndex int,
    @pageSize int,
    @search nvarchar(255),
    @tags nvarchar(4000),
    @subTags nvarchar(4000),
    @authors nvarchar(4000),
    @stt nchar(10),
    @totalRow int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    ------------------------------------------------
    -- TEMP TABLES
    ------------------------------------------------

    CREATE TABLE #TagIds(Id int PRIMARY KEY)
    CREATE TABLE #SubTagIds(Id int PRIMARY KEY)
    CREATE TABLE #AuthorIds(Id int PRIMARY KEY)

    INSERT INTO #TagIds
    SELECT TRY_CAST(value AS int)
    FROM STRING_SPLIT(@tags, ',')

    INSERT INTO #SubTagIds
    SELECT TRY_CAST(value AS int)
    FROM STRING_SPLIT(@subTags, ',')

    INSERT INTO #AuthorIds
    SELECT TRY_CAST(value AS int)
    FROM STRING_SPLIT(@authors, ',')

    ------------------------------------------------
    -- FULLTEXT
    ------------------------------------------------

    DECLARE @searchFT nvarchar(300)

    IF @search IS NOT NULL AND LEN(@search) > 0
    SET @searchFT = '"' + @search + '*"'

    CREATE TABLE #FT(Id int PRIMARY KEY, Rank int)

    IF @searchFT IS NOT NULL
    INSERT INTO #FT
    SELECT [KEY], RANK
    FROM CONTAINSTABLE(Story, Name, @searchFT)

    ------------------------------------------------
    -- RELATIONSHIP FILTER (1 SCAN)
    ------------------------------------------------

    CREATE TABLE #StoryFilter
    (
    StoryId int PRIMARY KEY
    )

    INSERT INTO #StoryFilter
    SELECT DISTINCT r.IdFrom
    FROM Tbl_Relationship r
    LEFT JOIN #TagIds t
        ON r.TypeConnect='Story_Tag'
       AND r.IdConnect=t.Id
    LEFT JOIN #SubTagIds st
        ON r.TypeConnect='Story_SubTag'
       AND r.IdConnect=st.Id
    LEFT JOIN #AuthorIds a
        ON r.TypeConnect='Story_Author'
       AND r.IdConnect=a.Id
    WHERE
    (t.Id IS NOT NULL
     OR st.Id IS NOT NULL
     OR a.Id IS NOT NULL)

    ------------------------------------------------
    -- FILTERED RESULT
    ------------------------------------------------

    CREATE TABLE #Filtered
    (
    Id int PRIMARY KEY,
    Name nvarchar(255),
    NumberChapter int,
    IsRead bit,
    Source nvarchar(500),
    TagsName nvarchar(500),
    Rank int
    )

    INSERT INTO #Filtered
    SELECT
    s.Id,
    s.Name,
    s.NumberChapter,
    s.IsRead,
    s.Source,
    s.TagsName,
    ft.Rank
    FROM Story s
    LEFT JOIN #FT ft ON ft.Id=s.Id
    LEFT JOIN #StoryFilter rf ON rf.StoryId=s.Id

    WHERE
    (@search IS NULL OR ft.Id IS NOT NULL)

    AND
    (
    @stt='All'
    OR s.IsRead = CASE WHEN @stt='Read' THEN 1 ELSE 0 END
    )

    AND
    (
    NOT EXISTS (SELECT 1 FROM #StoryFilter)
    OR rf.StoryId IS NOT NULL
    )

    ------------------------------------------------
    -- COUNT
    ------------------------------------------------

    SELECT @totalRow=COUNT(*) FROM #Filtered

    ------------------------------------------------
    -- PAGE
    ------------------------------------------------

    SELECT
    f.Id,
    f.Name,
    f.NumberChapter,
    f.IsRead,
    f.Source,
    f.TagsName,
    dbo.GetChaptersSave(f.Id) ChapterUploaded
    FROM #Filtered f

    ORDER BY
    CASE WHEN @search IS NULL THEN f.Name END,
    f.Rank DESC

    OFFSET @pageIndex ROWS
    FETCH NEXT @pageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryAuthor]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_StoryAuthor]
	@Id int
as
begin
	select * from Pseu
	where Id in (select IdConnect from Tbl_Relationship where IdFrom = @Id and TypeConnect = 'Story_Author')
end
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryCanRead]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_StoryCanRead]
as
begin
	Select top 6 *
	from Story
	where Id in (select distinct StoryId from Chapters)
end
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryDetail]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_StoryDetail]
	@idStory int
as
begin
	select top 1 *
	 from Story where Id = @idStory
end
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryForSeries]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[Get_StoryForSeries]
    @idSeries int
AS
BEGIN
    SET NOCOUNT ON;

    select st.Id, st.Name, se.Position
    from Seri_Story se
    inner join Story st on st.Id = se.StoryId
    where se.SeriId = @idSeries
    order by se.Position, st.Name

END
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryLastUpdate]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_StoryLastUpdate]
as
begin
	Select top 6 *
	from Story
	where Id in (select distinct StoryId from Chapters)
	order by ModifiedDate desc
end
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryNewest]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_StoryNewest]
as
begin
	Select top 6 *
	from Story
	where Id in (select distinct StoryId from Chapters)
	order by CreateDate desc
end
GO
/****** Object:  StoredProcedure [dbo].[Get_SubTag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_SubTag]
	@search nvarchar(255),
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	declare @searchString nvarchar(300) = '%' + @search + '%';

	select @totalRow = (select count(distinct Id)
	from Sub_Tag a
	where @search is null or (a.Name like @searchString or a.Definition like @searchString))

	select *
	from Sub_Tag a
	where @search is null or (a.Name like @searchString or a.Definition like @searchString)

	ORDER BY a.Name OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Tag]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Tag]
	@search nvarchar(255),
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	declare @searchString nvarchar(300) = '%' + @search + '%';

	select @totalRow = (select count(distinct Id)
	from Tags a
	where @search is null or (a.Name like @searchString or a.Definition like @searchString))

	select *
	from Tags a
	where @search is null or (a.Name like @searchString or a.Definition like @searchString)

	ORDER BY a.Name OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[Get_TagOrSubTag_ById]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Get_TagOrSubTag_ById]
	@id int,
	@getFrom nvarchar(25),
	@getFor nvarchar(25)
as
begin
	if @getFrom = 'Tag'
	begin
		if @getFor = 'Group'
			select * from Tags
			where Id in (select IdConnect from Tbl_Relationship where TypeConnect = 'Group_Tag' and IdFrom = @id)
		else if @getFor = 'Story'
			select * from Tags
			where Id in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_Tag' and IdFrom = @id)
	end
	else if @getFrom = 'SubTag'
	begin
		if @getFor = 'Group'
			select * from Sub_Tag
			where Id in (select IdConnect from Tbl_Relationship where TypeConnect = 'Group_SubTag' and IdFrom = @id)
		else if @getFor = 'Story'
			select * from Sub_Tag
			where Id in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_SubTag' and IdFrom = @id)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[GetTree_Compose]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTree_Compose]
	@keyword nvarchar(200) = NULL
AS
BEGIN
	IF @keyword IS NULL OR @keyword = ''
	BEGIN
		SELECT 
			Id as id,
			CASE WHEN ParentId = 0 THEN '#' ELSE CAST(ParentId AS varchar) END as parent,
			Name as text
		FROM My_Compose
	END
	ELSE
	BEGIN
		;WITH SearchNode AS
		(
			SELECT Id, ParentId, Name
			FROM My_Compose
			WHERE LOWER(Name) LIKE '%' + LOWER(@keyword) + '%'
		),
		Parents AS
		(
			SELECT Id, ParentId, Name
			FROM SearchNode

			UNION ALL

			SELECT p.Id, p.ParentId, p.Name
			FROM My_Compose p
			INNER JOIN Parents c ON p.Id = c.ParentId
		)
		SELECT DISTINCT
			Id as id,
			CASE WHEN ParentId = 0 THEN '#' ELSE CAST(ParentId AS varchar) END as parent,
			Name as text
		FROM Parents
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Read_Change]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Read_Change]
	@id int
as
begin
	Update Story set IsRead = case when IsRead = 1 then 0 
									when IsRead = 0 or IsRead is null then 1 end 
	where Id =@id
end
GO
/****** Object:  StoredProcedure [dbo].[SearchTop10]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SearchTop10]
    @search NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH words AS (
        -- Tách từ, loại bỏ khoảng trắng thừa, lower, DISTINCT
        SELECT DISTINCT LOWER(LTRIM(RTRIM(value))) AS word
        FROM STRING_SPLIT(@search, ' ')
        WHERE value <> ''
    ),
    matches AS (
        SELECT 
            u.Id, 
            u.Name,
            SUM(
                CASE 
                    -- Match chính xác từ (tách theo dấu cách)
                    WHEN ' ' + LOWER(u.Name) + ' ' LIKE '% ' + w.word + ' %' THEN 2
                    -- Match 1 phần (LIKE thông thường)
                    WHEN LOWER(u.Name) LIKE '%' + w.word + '%' THEN 1
                    ELSE 0
                END
            ) AS score
        FROM Users u
        CROSS JOIN words w
        GROUP BY u.Id, u.Name
    )
    SELECT TOP 10 *
    FROM matches
    WHERE score > 0
    ORDER BY score DESC, Name;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchTop10Story]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SearchTop10Story]
    @search NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    declare @searchString nvarchar(260) = '%' + lower(@search) + '%'

    select top 10 Id, Name
    from Story
    where LOWER(Name) like @searchString
END
GO
/****** Object:  StoredProcedure [dbo].[Update_PositionChapters]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROCEDURE [dbo].[Update_PositionChapters]

@chapterList nvarchar(max)
AS

BEGIN
    DECLARE @Data TABLE (
        Id bigint,
        Position int
    )
    INSERT INTO @Data (Id, Position)
    SELECT 
        JSON_VALUE(Value, '$.Id'),
        JSON_VALUE(Value, '$.Position')
    FROM OPENJSON(@chapterList);

    update Chapters
    set Position = d.Position
    from Chapters c join @Data d on c.Id = d.Id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateRelationship]    Script Date: 20/03/2026 16:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRelationship]
    @Id1 INT,
    @Id2s NVARCHAR(MAX),
    @Type nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Data TABLE (
			Id int
		);
    insert into @Data
    SELECT CAST(value AS INT)
        FROM STRING_SPLIT(@Id2s, ',')

    DELETE FROM Tbl_Relationship
    WHERE IdFrom = @Id1 and TypeConnect = @Type
      AND IdConnect NOT IN (SELECT Id FROM @Data);

    INSERT INTO Tbl_Relationship(IdFrom, IdConnect, TypeConnect)
    SELECT @Id1, n.Id, @Type
    FROM @Data n
    WHERE NOT EXISTS (
        SELECT 1
        FROM Tbl_Relationship c
        WHERE c.IdFrom = @Id1 AND c.IdConnect = n.Id
    );
END
GO
