USE [Story_Management]
GO
/****** Object:  UserDefinedFunction [dbo].[GetChaptersSave]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetChaptersSave] (@id int)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @result NVARCHAR(MAX) = N''
    DECLARE @Data TABLE (
			Id int,
			Name nvarchar(1000),
            NumberChapters smallint
		);
    insert into @Data (Id, Name)
    Select Id, Name from Part_Chapter where IdStory = 0  or IdStory = @id

    update @Data
    set NumberChapters = (select count(Id) from Chapters where StoryId = @id and Belong = d.Id)
    from @Data d

    SELECT @result =
        STRING_AGG(
            Name + N' (' + CAST(NumberChapters AS NVARCHAR) + N' chương)',
            CHAR(13) + CHAR(10)
        )
    FROM @Data;

    RETURN @result
END
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NULL,
	[Title] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[Belong] [int] NULL,
	[Position] [int] NULL,
	[Orders] [int] NULL,
 CONSTRAINT [PK_Chapters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStory] [int] NULL,
	[Name] [nvarchar](4000) NULL,
	[CreateTime] [datetime] NULL,
	[ModifiedTime] [datetime] NULL,
 CONSTRAINT [PK_Comic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic_Episode]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic_Episode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdComic] [int] NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_Comic_Episode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic_Images]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic_Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EpisodeId] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[Episode_Order] [smallint] NULL,
	[ChapterId] [bigint] NULL,
 CONSTRAINT [PK_Comic_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[My_Compose]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[My_Compose](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Contents] [nvarchar](max) NULL,
	[Video_Refer] [nvarchar](400) NULL,
	[CreateTime] [datetime] NULL,
	[ModifiTime] [datetime] NULL,
	[ParentId] [int] NULL,
	[Level] [tinyint] NULL,
 CONSTRAINT [PK_My_Compose] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Part_Chapter]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part_Chapter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStory] [int] NULL,
	[Name] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Part_Chapter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStory] [int] NULL,
	[Review] [nvarchar](max) NULL,
	[Opening] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](3000) NOT NULL,
	[NumberChapter] [nvarchar](4000) NULL,
	[ReadTo] [nvarchar](4000) NULL,
	[TagsName] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[LinkMore] [nvarchar](4000) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateChapter] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Slug] [nvarchar](500) NULL,
	[Source] [nchar](50) NULL,
	[IsCollection] [bit] NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story_Images]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IDChapter] [bigint] NULL,
	[IDStory] [int] NULL,
	[File_Name] [nvarchar](255) NULL,
	[Path] [nvarchar](150) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Story_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story_Search]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_Search](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Request] [nvarchar](4000) NULL,
	[Result] [nvarchar](max) NULL,
	[SearchBy] [nvarchar](10) NULL,
 CONSTRAINT [PK_Story_Search] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Chapter]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Chapter]
	@Id bigint,
	@idStory int,
	@title nvarchar(300),
	@content nvarchar(MAX),
	@belong int,
	@order int,
	@numberChapter int output
as
begin
	set nocount on;
	set @numberChapter = (select count(Id) from Chapters where StoryId = @idStory)
	IF @Id <= 0 
	begin
		if @order <= @numberChapter
		begin
			Update Chapters
			set Orders = Orders +  1
			where StoryId = @idStory and Orders >= @order
		end
		insert into Chapters(StoryId ,Title, Content, Belong, Orders) values (@idStory, @title, @content, @belong, @order)
		if @@ROWCOUNT > 0 
			set @numberChapter = @numberChapter + 1
		update Story set UpdateChapter = GETDATE() where Id = @idStory
	end
	else
	begin
		if @order <= @numberChapter
		begin
			update Chapters
			set Orders = Orders + 1
			where Orders >= @order and StoryId = @idStory
		end

		update Chapters
		set Title = @title, Content = @content, Belong = @belong, Orders = @order
		where Id = @Id
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Compose]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CreateOrUpdate_Compose]
	@id int,
	@name nvarchar(500),
	@cnt nvarchar(max),
	@vd_refer nvarchar(400),
	@pId int
as
begin
	SET NOCOUNT ON;
	declare @pLv int = 0
	if @id <= 0
	begin
		insert into My_Compose (Name, Contents, Video_Refer, CreateTime, ParentId)
		values (@name, @cnt, @vd_refer, getdate(), @pId)

		set @id =  SCOPE_IDENTITY()

		set @pLv = (select case when @pId = 0 then 0 else (select top 1 Level from My_Compose where Id = @pId) end)

		update My_Compose
		set Level = @pLv + 1
		where Id = @id
	end
	else
	begin
		declare @oldLevel int
		declare @newLevel int
		declare @delta int

		select @oldLevel = Level
		from My_Compose
		where Id = @id

		set @pLv = (
			select case 
				when @pId = 0 then 0 
				else (select top 1 Level from My_Compose where Id = @pId)
			end
		)

		set @newLevel = @pLv + 1
		set @delta = @newLevel - @oldLevel

		update My_Compose
		set Name = @name,
			Contents = @cnt,
			Video_Refer = @vd_refer,
			ModifiTime = getdate(),
			ParentId = @pId,
			Level = @newLevel
		where Id = @id


		-- lấy toàn bộ node con
		;WITH cte AS
		(
			select Id, ParentId
			from My_Compose
			where ParentId = @id

			union all

			select c.Id, c.ParentId
			from My_Compose c
			inner join cte t on c.ParentId = t.Id
		)

		update My_Compose
		set Level = Level + @delta
		where Id in (select Id from cte)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Series]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CreateOrUpdate_Series]
	@id int,
	@name nvarchar(2000),
	@lstStory nvarchar(4000)
as
begin
    DECLARE @Data TABLE (
			IdStory int,
			Position int
		);

	INSERT INTO @Data (IdStory, Position)
	SELECT
		JSON_VALUE(Value, '$.storyId'),
		JSON_VALUE(Value, '$.position')
	FROM OPENJSON(@lstStory);

	if @id <= 0
	begin
		Insert into Series (SeriName) values (@name)
		set @id = SCOPE_IDENTITY()
	end
	else
		update Series set SeriName = @name where Id =@id

	delete Seri_Story where SeriId = @id and StoryId not in (select distinct IdStory from @Data)

	insert into Seri_Story (SeriId, StoryId, Position)
	select @id, IdStory, Position
	from @Data

end
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Story]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Story]
	@Id int,
	@name nvarchar(2000),
	@numberChapter nvarchar(1000),
	@read bit,
	@tags nvarchar(4000),
	@tagId nvarchar(max),
	@subTagId nvarchar(max),
	@authors nvarchar(max),
	@source nchar(500)
as
begin
	DECLARE @DataTag TABLE (
			Id int
		);
	DECLARE @DataSubTag TABLE (
			Id int
		);
	DECLARE @DataAuthor TABLE (
			Id int
		);
	insert into @DataTag select value from Split_String(@tagId, ',')
	insert into @DataSubTag select value from Split_String(@subTagId, ',')
	insert into @DataAuthor select value from Split_String(@authors, ',')
	IF @Id <= 0
	begin
		insert into Story (Name, NumberChapter, IsRead, Source, CreateDate, TagsName) values (@name, @numberChapter, @read, @source, GETDATE(), @tags)

		set @Id = SCOPE_IDENTITY()

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Tag' from @DataTag

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_SubTag' from @DataSubTag

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Author' from @DataAuthor
	end
	else
	begin
		update Story
		set Name = @name, NumberChapter = @numberChapter, IsRead = @read, ModifiedDate = GETDATE(), Source = @source, TagsName = @tags
		where Id = @Id

		Update Comic 
		set Name = @name
		where IdStory = @Id
		----------------------------------------------------------------
		delete Tbl_Relationship where IdFrom = @Id and TypeConnect = 'Story_Tag' and IdConnect not in (select Id from @DataTag)
		delete Tbl_Relationship where IdFrom = @Id and TypeConnect = 'Story_SubTag' and IdConnect not in (select Id from @DataSubTag)
		delete Tbl_Relationship where IdFrom = @Id and TypeConnect = 'Story_Author' and IdConnect not in (select Id from @DataAuthor)
		----------------------------------------------------------------
		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Tag' from @DataTag where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_Tag' and IdFrom = @Id)

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_SubTag' from @DataSubTag where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_SubTag' and IdFrom = @Id)

		insert into Tbl_Relationship (IdFrom, IdConnect, TypeConnect)
		select @Id, Id, 'Story_Author' from @DataAuthor where Id not in (select IdConnect from Tbl_Relationship where TypeConnect = 'Story_Author' and IdFrom = @Id)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[CRUD_Search]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_Search]
	@type nvarchar(10),
	@content nvarchar(max),
	@totalRow int output
as
begin
	SET NOCOUNT ON;
	set @totalRow = 0
	if @type = 'CreateOrUpdate'
	begin
		DECLARE @Data TABLE (
			Id int,
			Request nvarchar(4000),
			Result nvarchar(max),
			SearchBy nvarchar(10)
		);
		INSERT INTO @Data (Id, Request, Result, SearchBy)
		SELECT 
			JSON_VALUE(j.value, '$.Id'),
			NULLIF(JSON_VALUE(j.value, '$.Request'), ''),
			NULLIF(JSON_VALUE(j.value, '$.Result'), ''),
			JSON_VALUE(j.value, '$.SearchBy')
		FROM OPENJSON(@content) j;
		insert into Story_Search (Request, Result, SearchBy)
		select Request, Result, SearchBy
		from @Data where Id = 0

		update Story_Search
		set Request = d.Request, Result = d.Result, SearchBy = d.SearchBy
		from Story_Search p join @Data d on p.Id = d.Id WHERE d.Id > 0;
	end
	else if @type = 'Delete'
	begin
		DECLARE @idList TABLE (
			Id int
		);
		INSERT INTO @idList (Id)
		SELECT 
			JSON_VALUE(Value, '$.Id')
		FROM OPENJSON(@content);

		delete Story_Search
		where Id in (select Id from @idList)
	end
	else if @type = 'Read'
	begin
		DECLARE @sear TABLE (
			Offset int,
			Limit int,
			Search nvarchar(500)
		);
		INSERT INTO @sear (Offset, Limit, Search)
		SELECT 
			NULLIF(JSON_VALUE(Value, '$.Offset'), 0),
			NULLIF(JSON_VALUE(Value, '$.Limit'), 50),
			NULLIF(JSON_VALUE(Value, '$.Search'), '')
		FROM OPENJSON(@content);

		declare @searchString nvarchar(510) = '%' + (select top 1 Search from @sear) + '%'
		declare @offset int = (select top 1 Offset from @sear)
		declare @limit int = (select top 1 Limit from @sear)

		set @totalRow = (select COUNT(Id) from Story_Search where Request like @searchString or Result like @searchString)

		select Id, Request from Story_Search 
		where Request like @searchString or Result like @searchString
		ORDER BY Request
		OFFSET @offset ROWS
		FETCH NEXT @limit ROWS ONLY;
	end
	else if @type = 'Edit'
	begin
		INSERT INTO @idList (Id)
		SELECT 
			JSON_VALUE(Value, '$.Id')
		FROM OPENJSON(@content);
		select top 1 * 
		from Story_Search
		where Id = (select top 1 Id from @sear)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[Delete_Chapter]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Chapter]
	@id bigint
as
begin
	delete Chapters where Id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Chapter]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Chapter]
	@idStory int,
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	select @totalRow = (select count(distinct Id) from Chapters c where c.StoryId = @idStory)

	select c.Title, c.Id as ChapterId, c.StoryId, pc.Name as Part_Name
	from Chapters c
	left join Part_Chapter pc on c.Belong = pc.Id
	where c.StoryId = @idStory
	ORDER BY c.Orders
	OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Story3]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Story3]
    @pageIndex int,
    @pageSize int,
    @search nvarchar(255),
    @tags nvarchar(4000),
    @subTags nvarchar(4000),
    @authors nvarchar(4000),
    @stt nchar(10),
    @totalRow int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TagIds TABLE (Id int, GroupId int, MultiSelect bit);
    DECLARE @SubTagIds TABLE (Id int);
    DECLARE @AuthorId TABLE (Id int, AuthorId int);

    ------------------------------------------------
    INSERT INTO @TagIds (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@tags, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    INSERT INTO @SubTagIds (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@subTags, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    INSERT INTO @AuthorId (Id)
    SELECT TRY_CAST(value AS int) FROM Split_String(@authors, ',') WHERE TRY_CAST(value AS int) IS NOT NULL;

    ------------------------------------------------
    UPDATE t
    SET GroupId = r.IdFrom
    FROM @TagIds t
    INNER JOIN Tbl_Relationship r 
        ON t.Id = r.IdConnect 
       AND r.TypeConnect = 'Group_Tag';

    UPDATE @TagIds
    SET MultiSelect = g.MultiSelect
    FROM GroupTag g
    JOIN @TagIds t ON t.GroupId = g.Id;

    INSERT INTO @TagIds (Id)
    SELECT DISTINCT r.IdConnect
    FROM Tbl_Relationship r
    INNER JOIN @TagIds t ON t.GroupId = r.IdFrom
    WHERE t.MultiSelect = 0
      AND NOT EXISTS (SELECT 1 FROM @TagIds x WHERE x.Id = r.IdConnect);

    ------------------------------------------------
    UPDATE a
    SET AuthorId = r.AuthorId
    FROM @AuthorId a
    INNER JOIN Pseu r ON r.Id = a.Id;

    INSERT INTO @AuthorId (Id, AuthorId)
    SELECT DISTINCT p.Id, p.AuthorId
    FROM Pseu p
    WHERE p.AuthorId IN (SELECT DISTINCT AuthorId FROM @AuthorId WHERE AuthorId IS NOT NULL)
      AND NOT EXISTS (SELECT 1 FROM @AuthorId a WHERE a.Id = p.Id);

    ------------------------------------------------
    DECLARE @searchString nvarchar(300) = '%' + ISNULL(@search, '') + '%';

    ------------------------------------------------
    SELECT @totalRow = COUNT(DISTINCT s.Id)
    FROM Story s
    WHERE (@search IS NULL OR s.Name LIKE @searchString)
      AND (@stt = 'All' OR s.IsRead = CASE WHEN @stt = 'Read' THEN 1 ELSE 0 END)
      AND (
            NOT EXISTS (SELECT 1 FROM @SubTagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relSub
                INNER JOIN @SubTagIds st ON relSub.IdConnect = st.Id
                WHERE relSub.TypeConnect = 'Story_SubTag'
                  AND relSub.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @TagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relTag
                INNER JOIN @TagIds st ON relTag.IdConnect = st.Id
                WHERE relTag.TypeConnect = 'Story_Tag'
                  AND relTag.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @AuthorId)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relAu
                INNER JOIN @AuthorId st ON relAu.IdConnect = st.Id
                WHERE relAu.TypeConnect = 'Story_Author'
                  AND relAu.IdFrom = s.Id
            )
          );

    ------------------------------------------------
    SELECT s.Id, s.Name, s.NumberChapter, s.IsRead, s.Source, s.TagsName, dbo.GetChaptersSave(s.Id) as 'ChapterUploaded'
    FROM Story s
    WHERE (@search IS NULL OR s.Name LIKE @searchString)
      AND (@stt = 'All' OR s.IsRead = CASE WHEN @stt = 'Read' THEN 1 ELSE 0 END)
      AND (
            NOT EXISTS (SELECT 1 FROM @SubTagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relSub
                INNER JOIN @SubTagIds st ON relSub.IdConnect = st.Id
                WHERE relSub.TypeConnect = 'Story_SubTag'
                  AND relSub.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @TagIds)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relTag
                INNER JOIN @TagIds st ON relTag.IdConnect = st.Id
                WHERE relTag.TypeConnect = 'Story_Tag'
                  AND relTag.IdFrom = s.Id
            )
          )
      AND (
            NOT EXISTS (SELECT 1 FROM @AuthorId)
            OR EXISTS (
                SELECT 1
                FROM Tbl_Relationship relAu
                INNER JOIN @AuthorId st ON relAu.IdConnect = st.Id
                WHERE relAu.TypeConnect = 'Story_Author'
                  AND relAu.IdFrom = s.Id
            )
          )
    GROUP BY s.Id, s.Name, s.NumberChapter, s.IsRead, s.Source, s.TagsName
    ORDER BY s.Name
    OFFSET @pageIndex ROWS
    FETCH NEXT @pageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryForSeries]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[Get_StoryForSeries]
    @idSeries int
AS
BEGIN
    SET NOCOUNT ON;

    select st.Id, st.Name, se.Position
    from Seri_Story se
    inner join Story st on st.Id = se.StoryId
    where se.SeriId = @idSeries
    order by se.Position, st.Name

END
GO
/****** Object:  StoredProcedure [dbo].[GetTree_Compose]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTree_Compose]
	@keyword nvarchar(200) = NULL
AS
BEGIN
	IF @keyword IS NULL OR @keyword = ''
	BEGIN
		SELECT 
			Id as id,
			CASE WHEN ParentId = 0 THEN '#' ELSE CAST(ParentId AS varchar) END as parent,
			Name as text
		FROM My_Compose
	END
	ELSE
	BEGIN
		;WITH SearchNode AS
		(
			SELECT Id, ParentId, Name
			FROM My_Compose
			WHERE LOWER(Name) LIKE '%' + LOWER(@keyword) + '%'
		),
		Parents AS
		(
			SELECT Id, ParentId, Name
			FROM SearchNode

			UNION ALL

			SELECT p.Id, p.ParentId, p.Name
			FROM My_Compose p
			INNER JOIN Parents c ON p.Id = c.ParentId
		)
		SELECT DISTINCT
			Id as id,
			CASE WHEN ParentId = 0 THEN '#' ELSE CAST(ParentId AS varchar) END as parent,
			Name as text
		FROM Parents
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SearchTop10]    Script Date: 13/03/2026 16:47:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SearchTop10]
    @search NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH words AS (
        -- Tách từ, loại bỏ khoảng trắng thừa, lower, DISTINCT
        SELECT DISTINCT LOWER(LTRIM(RTRIM(value))) AS word
        FROM STRING_SPLIT(@search, ' ')
        WHERE value <> ''
    ),
    matches AS (
        SELECT 
            u.Id, 
            u.Name,
            SUM(
                CASE 
                    -- Match chính xác từ (tách theo dấu cách)
                    WHEN ' ' + LOWER(u.Name) + ' ' LIKE '% ' + w.word + ' %' THEN 2
                    -- Match 1 phần (LIKE thông thường)
                    WHEN LOWER(u.Name) LIKE '%' + w.word + '%' THEN 1
                    ELSE 0
                END
            ) AS score
        FROM Users u
        CROSS JOIN words w
        GROUP BY u.Id, u.Name
    )
    SELECT TOP 10 *
    FROM matches
    WHERE score > 0
    ORDER BY score DESC, Name;
END
GO
