USE [Story_Management]
GO
/****** Object:  Table [dbo].[My_Compose]    Script Date: 09/01/2026 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[My_Compose](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Contents] [nvarchar](max) NULL,
	[CreateTime] [datetime] NULL,
	[ModifiTime] [datetime] NULL,
	[ParentId] [int] NULL,
	[Level] [tinyint] NULL,
 CONSTRAINT [PK_My_Compose] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CRUD_Compose]    Script Date: 09/01/2026 15:15:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_Compose]
	@id int,
	@act nvarchar(10),
	@name nvarchar(500),
	@cnt nvarchar(max),
	@pId int
as
begin
	SET NOCOUNT ON;
	declare @lvl tinyint = (select top 1 Level from My_Compose where Id = @pId)
	if @lvl is null
		set @lvl = 1
	else
		set @lvl = @lvl + 1

	if @act = 'Read'
	begin
		WITH FolderTree AS (
			-- Root folder
			SELECT 
				Id,
				Name,
				ParentId,
				Level,
				CAST(Name AS NVARCHAR(MAX)) AS FullPath
			FROM My_Compose
			WHERE ParentId = 0

			UNION ALL

			-- Child folder
			SELECT
				c.Id,
				c.Name,
				c.ParentId,
				c.Level,
				CAST(p.FullPath + '\' + c.Name AS NVARCHAR(MAX)) AS FullPath
			FROM My_Compose c
			INNER JOIN FolderTree p ON c.ParentId = p.Id
		)
		SELECT *
		FROM FolderTree
		ORDER BY FullPath;
	end
	else if @act = 'Create'
	begin
		insert into My_Compose (Name, Contents, CreateTime, ParentId, Level)
		values (@name, @cnt, GETDATE(), @pId, @lvl)

		if @@ROWCOUNT > 0
			select 'Success' as Status, 'Thêm mới thành công' as Message
		else
			select 'Error' as Status, 'Có lỗi xảy ra' as Message
	end
	else if @act = 'Update'
	begin
		update My_Compose
		set Name = @name, Contents = @cnt, ModifiTime = getdate(), ParentId = @pId, Level = @lvl
		where Id = @id

		if @@ROWCOUNT > 0
			select 'Success' as Status, 'Cập nhật thành công' as Message
		else
			select 'Error' as Status, 'Có lỗi xảy ra' as Message
	end
	else if @act = 'Delete'
	begin
		delete My_Compose where Id = @id

		if @@ROWCOUNT > 0
			select 'Success' as Status, 'Xóa thành công' as Message
		else
			select 'Error' as Status, 'Có lỗi xảy ra' as Message
	end
	else if @act = 'GetData'
	begin
		select top 1 * from My_Compose where Id = @id
	end
end
GO
