USE [Story_Management]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Chapter]    Script Date: 13/02/2026 14:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Chapter]
	@Id bigint,
	@idStory int,
	@title nvarchar(300),
	@content nvarchar(MAX),
	@belong int,
	@order int
as
begin
	IF @Id <= 0 
	begin
		insert into Chapters(StoryId ,Title, Content, Belong, Orders) values (@idStory, @title, @content, @belong, @order)
		update Story set ModifiedDate = GETDATE() where Id = @idStory
	end
	else
	begin
		declare @OldBelong int = (select Belong from Chapters where Id = @Id)
		declare @OldPosition int = (select Position from Chapters where Id = @Id)
		if @OldPosition <> @order
		begin
			update Chapters
			set Orders = Orders + 1
			where Orders >= @order and Belong = @OldBelong and StoryId = @idStory
		end

		update Chapters
		set Title = @title, Content = @content, Belong = @belong, Orders = @order
		where Id = @Id
	end
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Chapter]    Script Date: 13/02/2026 14:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Chapter]
	@idStory int,
	@pageIndex int,
	@pageSize int,
	@totalRow int output
as
begin
	select @totalRow = (select count(distinct Id) from Chapters c where c.StoryId = @idStory)

	select c.Title, c.Id as ChapterId, c.StoryId, pc.Name as Part_Name
	from Chapters c
	left join Part_Chapter pc on c.Belong = pc.Id
	where c.StoryId = @idStory
	ORDER BY c.Orders
	OFFSET @pageIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY
end
GO
