USE [Story_Mana]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFirstValueJson]    Script Date: 03/07/2026 10:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetFirstValueJson] (@str nvarchar(4000))
RETURNS NVARCHAR(4000)
AS
BEGIN
    IF ISJSON(@str) = 1
        RETURN JSON_VALUE(@str, '$[0]');

    RETURN NULL;
END
GO
/****** Object:  Table [dbo].[My_Compose]    Script Date: 03/07/2026 10:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[My_Compose](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](2000) NULL,
	[Contents] [nvarchar](max) NULL,
	[Video_Refer] [nvarchar](400) NULL,
	[CreateTime] [datetime] NULL,
	[ModifiedTime] [datetime] NULL,
	[ParentId] [int] NULL,
	[Level] [tinyint] NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_My_Compose] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](3000) NOT NULL,
	[NumberChapter] [nvarchar](4000) NULL,
	[ReadTo] [bigint] NULL,
	[TagsName] [nvarchar](4000) NULL,
	[Avatar] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[LinkMore] [nvarchar](4000) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Slug] [nvarchar](500) NULL,
	[Source] [nvarchar](50) NULL,
	[IsCollection] [bit] NULL,
	[ReadOrder] [smallint] NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdate_Story]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdate_Story]
	@Id int,
	@name nvarchar(2000),
	@numberChapter nvarchar(1000),
	@read bit,
	@tags nvarchar(4000),
	@authors nvarchar(4000),
	@source nvarchar(500),
	@readOrder smallint
as
begin
	SET NOCOUNT ON;
	------------------------------------------------
	declare @idReader int = (select top 1 Id from Story where ReadOrder = @readOrder)
	if @idReader is not null
	begin
		Update Story
		set ReadOrder = ReadOrder + 1
		where ReadOrder > @readOrder
	end

	IF @Id <= 0
	BEGIN
		INSERT INTO Story (Name, NumberChapter, IsRead, Source, CreateDate, TagsName, ReadOrder)
		VALUES (@name, @numberChapter, @read, @source, GETDATE(), @tags, @readOrder);

		SET @Id = CAST(SCOPE_IDENTITY() AS INT);
	END
	ELSE
	BEGIN
		UPDATE Story
		SET Name = @name,
			NumberChapter = @numberChapter,
			IsRead = @read,
			ModifiedDate = GETDATE(),
			Source = @source,
			TagsName = @tags,
			ReadOrder = @readOrder
		WHERE Id = @Id;

		--UPDATE Comic 
		--SET Name = @name
		--WHERE IdStory = @Id;
	END
	------------------------------------------------
	DECLARE @Data TABLE (
			IdAuthor int
		);

	INSERT INTO @Data (IdAuthor)
	SELECT
		JSON_VALUE(Value, '$.authorId')
	FROM OPENJSON(@authors);


	delete Story_Author where IdStory = @id and IdAuthor not in (select distinct IdAuthor from @Data)

	insert into Story_Author(IdStory, IdAuthor)
	select @Id, IdAuthor
	from @Data
	where IdAuthor not in (select IdAuthor from Story_Author where IdStory = @Id)

	EXEC ReOrderStory;
end
GO
/****** Object:  StoredProcedure [dbo].[Get_ReadList]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_ReadList]
as
begin
	select s.Id, (select dbo.GetFirstValueJson(s.Name)) as Name, 
	'[' +
	ISNULL(
	(
		SELECT STRING_AGG('"' + dbo.GetFirstValueJson(t.Pseudonym) + '"', ',')
		FROM Story_Author st
		JOIN Authors t ON t.Id = st.IdAuthor
		WHERE st.IdStory = s.Id
	), '')
	+ ']' AS Pseudonym, s.ReadOrder
	from Story s
	where ReadOrder is not null and ReadOrder <= 100
	order by ReadOrder
end
GO
/****** Object:  StoredProcedure [dbo].[Get_Story]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Story]
    @pageIndex int,
    @pageSize int,
    @search nvarchar(255),
    @stt nchar(10),
    @totalRow int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    ------------------------------------------------
    CREATE TABLE #Data
    (
        Id int,
        Name NVARCHAR(3000),
        NumberChapter NVARCHAR(4000),
        IsRead bit,
        Source nvarchar(50),
        TagsName nvarchar(4000),
        ChapterUploaded nvarchar(4000),
        ReadChapter nvarchar(1000),
        ReadOrder smallint
    );

    ;WITH ChapterStats AS
    (
        SELECT 
            c.StoryId,
            pc.Name,
            COUNT(c.Id) AS NumberChapters
        FROM Chapters c
        JOIN Part_Chapter pc 
            ON pc.Id = c.Belong
        GROUP BY c.StoryId, pc.Name
    ),
    ChapterAgg AS
    (
        SELECT
            StoryId,
            STRING_AGG(
                Name + N' (' 
                + CAST(NumberChapters AS NVARCHAR(20))
                + N' chương)',
                CHAR(13) + CHAR(10)
            ) AS ChapterUploaded
        FROM ChapterStats
        GROUP BY StoryId
    )

    INSERT INTO #Data
    SELECT 
        s.Id,
        s.Name,
        s.NumberChapter,
        s.IsRead,
        s.Source,
        s.TagsName,
        ca.ChapterUploaded,
        c.Title AS ReadChapter,
        s.ReadOrder
    FROM Story s
    LEFT JOIN Chapters c 
        ON c.Id = s.ReadTo
    LEFT JOIN ChapterAgg ca
        ON ca.StoryId = s.Id
    WHERE 
    (
        @search IS NULL 
        OR @search = ''
        OR s.Name LIKE '%' + @search + '%'
        OR (
            s.IsCollection = 1
            AND EXISTS (
                SELECT 1
                FROM Review r
                WHERE r.IdStory = s.Id
                    AND CHARINDEX(@search, r.Opening) > 0
            )
        )
    )
    AND (
        @stt = 'All' 
        OR s.IsRead = CASE WHEN @stt = 'Read' THEN 1 ELSE 0 END
    );

    SET @totalRow = (SELECT COUNT(*) FROM #Data);

    SELECT *
    FROM #Data
    ORDER BY Name
    OFFSET @pageIndex * @pageSize ROWS
    FETCH NEXT @pageSize ROWS ONLY;

    DROP TABLE #Data;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_StoryDetail2]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_StoryDetail2]
	@idStory int
as
begin
	select top 1 s.Id, (select dbo.GetFirstValueJson(s.Name)) as Name, s.NumberChapter, r.Review, 
	'[' +
	ISNULL(
	(
		SELECT STRING_AGG('"' + dbo.GetFirstValueJson(t.Name) + '"', ',')
		FROM Story_Tags st
		JOIN Tags t ON t.Id = st.IdTag
		WHERE st.IdStory = s.Id
	), '')
	+ ']' AS TagList,
	'[' +
	ISNULL(
	(
		SELECT STRING_AGG('"' + dbo.GetFirstValueJson(t.Pseudonym) + '"', ',')
		FROM Story_Author st
		JOIN Authors t ON t.Id = st.IdAuthor
		WHERE st.IdStory = s.Id
	), '')
	+ ']' AS Pseudonym
	from Story s
	left join Review r on r.IdStory = @idStory
	where s.Id = @idStory
end
GO
/****** Object:  StoredProcedure [dbo].[ReOrderStory]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReOrderStory]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH CTE AS
    (
        SELECT
            Id,
            NewReadOrder = ROW_NUMBER() OVER(ORDER BY ReadOrder, Id)
        FROM Story
    )
    UPDATE S
    SET ReadOrder = CTE.NewReadOrder
    FROM Story S
    JOIN CTE
        ON S.Id = CTE.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrUpdateCompose]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateOrUpdateCompose]
    @Id            INT,
    @Name          NVARCHAR(500),
    @Description   NVARCHAR(2000) = NULL,
    @Contents      NVARCHAR(MAX) = NULL,
    @ParentId      INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    if @Id <= 0 or @Id is null
    begin
        if @ParentId = 0
        begin
            declare @sortOrderRoot int = (select ISNULL(MAX(SortOrder), 0) from My_Compose where ParentId = 0)
            insert into My_Compose (Name, Description, Contents, CreateTime, ParentId, Level, SortOrder)
            values (@Name, @Description, @Contents, getdate(), 0, 1, @sortOrderRoot + 1)
        end
        else
        begin
            declare @lvParent tinyint = (select Level from My_Compose where Id = @ParentId)
            declare @sortOrder int = (select ISNULL(MAX(SortOrder), 0) from My_Compose where ParentId = @ParentId)
            if @lvParent is not null and @lvParent + 1 < 5
                insert into My_Compose (Name, Description, Contents, CreateTime, ParentId, Level, SortOrder)
                values (@Name, @Description, @Contents, getdate(), @ParentId, @lvParent + 1, @sortOrder + 1)
        end
    end
    else
    begin
        Update My_Compose
        set Name = @Name, Description = @Description, Contents = @Contents, ModifiedTime = getdate()
        where Id =@Id
    end
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCompose]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCompose]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Lưu thông tin node cần xóa trước khi xóa
    DECLARE @ParentId   INT;
    DECLARE @SortOrder  INT;

    SELECT @ParentId = ParentId, @SortOrder = SortOrder
    FROM dbo.My_Compose
    WHERE Id = @Id;

    -- Xóa node và toàn bộ con cháu
    WITH Subtree AS (
        SELECT Id FROM dbo.My_Compose WHERE Id = @Id

        UNION ALL

        SELECT c.Id
        FROM dbo.My_Compose c
        INNER JOIN Subtree s ON c.ParentId = s.Id
    )
    DELETE FROM dbo.My_Compose
    WHERE Id IN (SELECT Id FROM Subtree);

    -- Cập nhật lại SortOrder các anh/em đứng sau
    UPDATE dbo.My_Compose
    SET SortOrder = SortOrder - 1
    WHERE ParentId = @ParentId
      AND SortOrder > @SortOrder;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetComposeDetail]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetComposeDetail]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Name, Description, Contents
    FROM dbo.My_Compose
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetComposTree]    Script Date: 03/07/2026 10:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetComposTree]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        ParentId,
        [Level],
        SortOrder,
        Name,
        Description
    FROM dbo.My_Compose
    ORDER BY [Level], ParentId, SortOrder, Id;
END;
GO
