input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.story-search-wrapper {
    position: relative;
}

.search-result-list .search-item:hover {
    background-color: #f0f0f0;
}