html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #394589;
}

.bg-dark {
    background-color: #343a40 !important;
}

#tm-bot-nav {
    box-shadow: 0 16px 16px -16px black;
    overflow: hidden;
    overflow-x: auto;
    height: 40px;
    position: relative;
}

#naviga {
    color: #eeeeee !important;
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#naviga a {
    margin: 6px;
    padding: 2px;
    display: inline-block;
    color: #eeeeee;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}