<div id="tm-bot-nav" class="bg-dark">
    <div id="naviga" class="container">
        <a href="/Home"></i> Trang chủ</a>
        <a href="#">Tìm truyện</a>
        <a href="#">Đẩy Sách</a>
        <a href="#">Diễn Đàn</a>
        <a href="#">Dịch trang web</a>
        <a href="#">Dịch</a>
    </div>
</div>
