<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="~/Images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Ad</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/Home" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Story" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Truyện
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="Tag" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Thẻ
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Author" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Tác giả
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Author" class="nav-link">
                        <i class="nav-icon fas fa-video"></i>
                        <p>
                            Scene
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Author" class="nav-link">
                        <i class="nav-icon fas fa-film"></i>
                        <p>
                            Series
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
