<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        @* <img src="~/Images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> *@
        <span class="brand-text font-weight-light">Administrator</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Home" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Story" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Truyện
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>
                            Quản lý thẻ
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/GroupTag" class="nav-link">
                                <i class="fas fa-layer-group nav-icon"></i>
                                <p>Nhóm thẻ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Tag" class="nav-link">
                                <i class="fas fa-tag nav-icon"></i>
                                <p>Thẻ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SubTag" class="nav-link">
                                <i class="fas fa-sitemap nav-icon"></i>
                                <p>Thẻ phụ</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Author" class="nav-link">
                        <i class="nav-icon fas fa-user-edit"></i>
                        <p>
                            Tác giả
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Author" class="nav-link">
                        <i class="nav-icon fas fa-photo-video"></i>
                        <p>
                            Scene
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Author" class="nav-link">
                        <i class="nav-icon fas fa-film"></i>
                        <p>
                            Series
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
