.col-inner {
    padding: 15px 0px 0px 0px;
}

.is-divider {
    background-color: rgba(0, 0, 0, .1);
    display: block;
    height: 3px;
    margin: 1em 0;
    max-width: 40px;
    width: 100%;
}

.small {
    font-size: .875em;
}

/* Tabs */
.navtabs {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    position: relative;
}

.navtab {
    margin: 0 .1em;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f3f3f3;
    transition: color 0.3s;
}

    .navtab.active {
        background-color: white;
        font-weight: 600;
    }

.underline {
    position: absolute;
    top: 0;
    height: 2px;
    background: #394589;
    transition: left 0.3s ease, width 0.3s ease;
}

.content {
    display: none;
    padding: 100px 20px 20px;
    text-align: center;
}

    .content.active {
        display: block;
    }

/* Tags  */
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

    .tags li {
        float: left;
    }

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}